.b-form
	&__title
		text-transform uppercase
		font-size 24px
		color #57565a
		font-weight bold
		margin-bottom 20px
	&__item
		margin-bottom 20px	
		
		input,
		textarea
			border 1px solid #c2c1c7
			width 100%
			border-radius 30px
			padding 0 20px
			&:focus
				border-color $colorPrimary
				
		input
			height 42px			