<div block="b-doctors" class="{{doctorsClass}} mb-0">
    <div elem="inner">
        {#<div elem="bg-r-b">{{ _icon('info-pic1', { tag: 'span' }) }}</div>#}
        <div elem="section" class="{{doctorsClass2}} site-width">
            <div elem="head">
                <div elem="sub-title">Самые самые</div>
                <div elem="title">Доктора</div>
            </div>
            <div elem="items" class="owl-carousel js-doctors-slider">

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
                            <a elem="name" href="#">Грегори Хаус</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
                            <a elem="name" href="#">Березнев Антон Васильевич</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
                            <a elem="name" href="#">Березнев Антон Васильевич</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>
                
                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>

                <div elem="item">
                    <div elem="info">
                        <div elem="top">
                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
                        </div>
                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div><!-- b-doctors -->