.b-doctors
    
    &__inner
        padding-top 100px
        padding-bottom 100px
        background url('../img/elips-half-pic.png') 50% 0 no-repeat, linear-gradient(to top, #daeaff 0%, #8a8a8a 100%) 
        position relative
        
        @media (min-width: 1400px)
        
            &:before
                content ''
                position absolute
                top -185px
                left -200px
                width 366px
                height 360px
                background url('../img/helix-big-white.png') 0 0 no-repeat
                background-size contain
                transform rotate(260deg)
                z-index 1
                animation-name: spin
                animation-duration: 100000ms
                animation-iteration-count: infinite
                animation-timing-function: linear 
                
            & ^[0]    
                &__bg-r-b
                    position absolute
                    right 0
                    bottom -185px
                    width 220px
                    height 381px
                    overflow hidden
                    .svg-icon
                        position absolute
                        left 40px
                        top 20px
                        fill $colorAccent
                        width 360px
                        height 361px
                        animation-name: spin
                        animation-duration: 110000ms
                        animation-iteration-count: infinite
                        animation-timing-function: linear 
                    
            // &:after
            //     content ''
            //     position absolute
            //     right 0
            //     bottom -185px
            //     width 180px
            //     height 361px
            //     background url('../img/helix-big-blue.png') 0 0 no-repeat
            //     background-size cover
            //     z-index 1    
            //     animation-name: spin
            //     animation-duration: 110000ms
            //     animation-iteration-count: infinite
            //     animation-timing-function: linear 

        @media (max-width: 1024px)
            padding-top 50px
            padding-bottom 50px
        
    &__head
        text-align center     
        
        @media (max-width: 1279px)
            margin-bottom 80px        
    
    &__sub-title
        font-size 24px
        color #ffffff
        font-weight 700
        line-height 34px
        text-transform uppercase       
        position relative
        margin-bottom 15px
        z-index 1
        
        &:before
            content ''
            position absolute
            top -65%
            left 50%
            transform translate(-50%)
            width 82px
            height 80px
            background url('../img/helix-small-white.png') 0 0 no-repeat
            z-index -1
    
    &__title
        font-size 160px
        color #ffffff
        font-weight 700
        line-height 105px
        letter-spacing 18px
        margin-top 15px
        
        @media (max-width: 1279px)
            font-size 80px
            line-height 80px
            letter-spacing 10px
 
    
    &__items
        display flex
        flex-wrap wrap
        .owl-stage-outer    
            &.tr 
                opacity 0
                .b-doctors__item
                    transition all .0s ease

            &.vs  
                transition all .35s ease        
                opacity 1
                
        @media (min-width: 1025px)
        
            .owl-stage-outer
                padding-bottom 85px
            
            .owl-item.active + .owl-item.active,
            .owl-item.active + .owl-item.active + .owl-item.active
                
                & ^[0]
                    
                    &__item
                        transform translateY(85px)
            
            .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active
                
                & ^[0]
                    
                    &__item
                        transform translateY(0)      
        
        .owl-dots
            display flex
            flex-wrap wrap
            justify-content center
            position absolute
            top 35px
            left 50%
            transform translateX(-50%)
            
            @media (max-width: 1279px)
                top -50px
            
        .owl-dot
            margin-left 10px
            margin-right 10px
            border 7px solid transparent
            background none
            border-radius 50%
            width 26px
            height 26px
            
            span
                background-color #fff 
                display block
                border-radius 50%
                width 12px
                height 12px

            &:hover,
            &.active
                border 7px solid #fff
                box-shadow none
                box-shadow 0 0 10px rgba(0, 0, 0, 0.2)
                
                span
                    background-color #235399                    

    &__item
        display flex
        transition transform .5s
        img 
            width 100%
            border-radius 10px
    &__info
        width 100%
        margin-right 80px
        margin-left auto
        margin-right auto
        
    &__top
        position relative
        margin-bottom 85px
    
    &__img
        display block
        font-size 0
        border-radius 10px
        overflow hidden
        
        img
            max-width 100%
            height auto
    
    &__name
        font-size 16px
        color #ffffff
        font-weight 500
        line-height 24px
        text-decoration none
        width 176px
        height 176px
        display block
        padding 55px 40px 50px 30px
        background-color #235399
        border-radius 50%  
        position absolute
        bottom -65px
        left -30px
    &--type-2    
        & ^[0]
            &__inner
                background url(../img/elips-half-pic2.png) center 210px no-repeat
                padding-top 0
                &:after
                    display none
            &__sub-title    
                color #57565a
                &:before
                    display none
            &__title        
                color #ececec
        
        .owl-dot
            &:hover,
            &.active    
                box-shadow: 0 0 0 1px $colorAccent    
            span 
                background #57565a    
    &.mb-1
        margin-bottom 120px
        
    @media (max-width 1024px) 
        &__items
            margin-left 0 
            margin-right 0 
            display block
            &.owl-carousel
                width auto
                z-index 0
            .owl-dots
                top -60px
                left 20px
                right 20px
                transform translateX(0) 
                
        &__info
            text-align center    
            
        &__name    
            padding 20px
            display flex
            align-items center
            font-size 15px
            width 142px
            height 142px
            bottom -64px
            left 50%
            transform translateX(-50%) 
            text-align center
                            
        &--type-2
            & ^[0]
                &__inner
                    background none        
                &__title    
                    color #57565a
                    opacity 0.2
        &.mb-1
            margin-bottom 40px            
    @media (max-width: 768px)  
        margin-bottom 20px
        &.mb-0
            margin-bottom 0               
        &__inner
            padding-top 70px
            background linear-gradient(to top, #daeaff 0%, #8a8a8a 100%)
        &__head   
            margin-bottom 94px
        &__title  
            font-size 55px
            line-height 55px
        &__sub-title  
            margin-bottom 0
        &__section
            padding-left 0
            padding-right 0
        &__items 
            margin-left 0
            margin-right 0
            padding-bottom 0


        &__info         
            max-width 100%
            flex none
            width 100%
        
        .owl-dot
            margin-left 5px
            margin-right 5px

    @media (max-width 480px)  
        &__head
            margin-bottom 30px  
        &__title    
            font-size 43px
        
        &__section
            padding-left 0
            padding-right 0
        .owl-dots
            padding-left 10px   
            padding-right 10px   
            position relative    
            top auto
            left auto
            right auto
            margin-top 50px
            
    // @media (max-width 480px)  