.c-accordion
	
	&__item
		padding 18px 56px 15px 56px
		border-radius 20px
		position relative
		margin-top -1px
		transition all .3s ease
		cursor pointer		
			
		&:after
			content ""
			position absolute
			left 56px
			right 56px
			bottom 0
			height 1px
			background $colorAccent

		.mark
			position absolute
			left 0
			top 25px
			fill $colorAccent
			width 24px
			height 24px
		.arrow
			width 32px	
			height 32px
			fill $colorAccent
			position absolute
			right 0
			top 21px


		&:nth-child(2n)	
			.mark
				fill #57565a
			
		&:hover
			&:after
				background #daeaff

		&.is-active
			border-bottom 0
			background #fff
			box-shadow 0 4px 8px rgba(87, 86, 90, 0.4)
			&:after
				bottom auto
				top 0
				background #fff
				
		&:hover
			background #daeaff
			z-index 1
			// & ^[0]
			// 	&__item-in
			// 		color #fff
			// 	&__item-title,
			// 	&__item-body				
			// 		color #fff
			// .svg-icon 
			// 	fill #fff
				
		&.is-active
			&:hover
				background #fff
			& ^[0]
				&__item-in
					max-height 1500px
			.arrow	
				transform rotate(180deg) 

	&__item-in			
		padding 0 0 0 45px
		position relative
		display flex
		height 100%
		max-height 73px
		overflow hidden
		transition all 0.6s ease
		
	&__item-title 
		color $colorAccent
		font-size 16px	
		font-weight 500
		margin-bottom 5px
	
	&__item-body 
		font-size 12px		
		line-height 22px
	&__item-price
		color $colorAccent
		font-weight 500
		span 
			font-weight 700
	&__item-time		
		padding 0 0 0 33px
		font-size 12px
		color #57565a
		line-height 22px
		width 170px
		position relative
		font-weight 500
		margin-top 40px
		.svg-icon
			position absolute
			left 0
			top 3px
			width 25px
			height 25px
			fill $colorAccent
	&__column
		padding-top 22px
		flex 1
		&--first
			padding-top 0
			flex 0 0 429px
			margin-right 15%
		&--last
			padding-right 50px