.b-sertificates
    
    &__inner
        padding-top 120px
        padding-bottom 180px
        background-size cover !important
        position relative
        
        @media (min-width: 1440px)
            & ^[0]    
                &__bg-r-b
                    position absolute
                    right 0
                    top -225px
                    width 220px
                    height 440px
                    overflow hidden
                    .svg-icon
                        position absolute
                        left 40px
                        top 40px
                        bottom 40px
                        fill $colorAccent
                        width 360px
                        // height auto
                        height 361px
                        animation-name: spin
                        animation-duration: 110000ms
                        animation-iteration-count: infinite
                        animation-timing-function: linear 
        
        @media (min-width: 1280px)
        
            &:before
                content ''
                position absolute
                bottom -185px
                left -200px
                width 410px
                height 430px
                background url('../img/helix-big-white.png') -100% 35px no-repeat
                background-size contain
                z-index 0
                animation-name: spin
                animation-duration: 110000ms
                animation-iteration-count: infinite
                animation-timing-function: linear 
        
        @media (max-width: 1024px)
            padding-top 60px
            padding-bottom 90px
            
        @media (max-width: 768px)
            padding-bottom 40px

    &__head
        text-align center
        position relative
        width 400px
        max-width 100%
        margin 0 auto 60px
        
        
        &:before
            content ''
            position absolute
            top -50%
            left 50%
            transform translate(-50%)
            width 82px
            height 80px
            background url('../img/helix-small-blue.png') 0 0 no-repeat
            z-index 1
            
            @media (max-width: 420px)
                top -22px
            
        
        @media (max-width: 1024px)
            margin-bottom 50px
    
    &__title
        font-size 24px
        color #ffffff
        font-weight 700
        line-height 34px
        text-transform uppercase
        position relative
        z-index 2
    
    &__items
        display flex
        flex-wrap wrap
        &.owl-carousel
            z-index 0
        .owl-dots
            display flex
            flex-wrap wrap
            justify-content center
            margin-top 80px
            
            @media (max-width: 1024px)
                margin-top 40px
            
            @media (max-width: 640px)
                margin-bottom 10px    
            
        .owl-dot
            margin-right 20px
            border 7px solid transparent
            border-radius 50%
            width 26px
            height 26px
            
            span
                background-color #57565a 
                display block
                border-radius 50%
                width 12px
                height 12px

            &.active
                border 7px solid #fff
                
                span
                    background-color #235399
                    
            &:last-child
                margin-right 0
            
            @media (max-width: 480px)
                margin-left 5px    
                margin-right 5px    
                &:last-child
                    margin-right 5px
    
    &__item
        border 5px solid #fff
        border-radius 10px
        margin-right 30px
        
        &:last-child
            margin-right 0
        
        a
            font-size 0    
            display block
            
            img
                max-width 100%
                height auto
    
    .owl-nav
        display none            
    
    .owl-prev,
    .owl-next
        width 46px
        height 32px
        position absolute
        top 50%
        transform translateY(-50%) 
        &:hover
            svg 
                fill $colorAccent
        svg 
            fill #fff
            transition all .3s ease
            
    .owl-prev
        left -88px
    .owl-next
        right -88px

    &--type-2
        & ^[0]
            &__inner
                padding-top 80px
                padding-bottom 100px
                &:before
                    display none
                    
        .owl-nav
            display block
        .owl-dots    
            display none
    
    @media (max-width 1438px)         
        &--type-2
            & ^[0]
                &__inner
                    padding-bottom 80px
                    
            .owl-nav           
                display none
            .owl-dots    
                display flex
            
    @media (max-width 768px)         
        &--type-2
            & ^[0]
                &__inner
                    padding-bottom 40px