<div block="b-sertificates" class="{{sertificatesClass}} lightGallery-container">
    <div elem="inner" style="background: url('img/license-bg.png') 50% 0 no-repeat;">
        <div elem="bg-r-b">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
        <div elem="section" class="{{sertificatesClass2}} site-width">
            <div elem="head">
                <div elem="title">Сертификаты и лицензии</div>
            </div>
            <div elem="items" class="owl-carousel js-sertificates-slider">

            {% for item in bSertificates %}
                <div elem="item">
                    <a href="img/{{item.img}}" class="lightGallery-item"><img src="img/{{item.img}}" alt=""></a>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>
</div><!-- b-sertificates -->