.b-our-news
	margin-bottom 68px
	margin-top 100px
	&__title 
		margin-bottom 44px
	&__items
		margin-left -16px
		margin-right -16px
		display flex
		flex-wrap wrap
	&__item	
		width 25%
		padding 0 16px 32px
		display flex
		flex-direction column		
		&--last
			align-items center
			justify-content center
	&__item-in	
		flex 1
		display flex
		flex-direction column
		transition all .3s ease
		border-radius 10px
		text-decoration none
		color #57565a
		&:hover
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	&__item-image	
		margin-bottom 
		img 
			width 100%
			border-radius 10px
	&__item-container
		padding 24px 19px 18px 19px
		line-height 20px
		display flex
		flex-direction column 
		justify-content flex-end
		flex 1
	&__item-date	
		border-bottom 1px solid $colorAccent
		max-width 176px
		margin-bottom 5px
		padding-bottom 4px
	&__item-title	
		font-size 15px
		font-weight 500
	&__button
		padding-left 23px	
		padding-right 23px	
		
	@media (max-width 1024px) 
		&__items
			margin-left -10px
			margin-right -10px
		&__item
			padding-left 10px
			padding-right 10px
		
	@media (max-width 768px) 
		margin-top 40px
		margin-bottom 60px
		&__title
			margin-bottom 20px
		&__item
			width 50%
		
	@media (max-width 480px) 
		&__items
			margin-left 0
			margin-right 0
			display block
		&__item
			padding-left 0
			padding-right 0
			width auto
			&--last 
				padding-bottom 0
		&__button
			width 100%