<div block="b-our-news" class="site-width">    
    <div elem="title" class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>наши новости</span></div>    
    <div elem="items">
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img1.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Где можно заняться йогой?</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img2.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Йога для начинающих — инструкция по выполнению асан</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img3.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Сила духа в тебе и ты сможешь раскрыть его</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img4.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Йога для начинающих — инструкция по выполнению асан</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img2.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Йога для начинающих — инструкция по выполнению асан</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img3.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Сила духа в тебе и ты сможешь раскрыть его</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item">
    		<a elem="item-in" href="#">
    			<div elem="item-image"><img src="img/our-news-img1.jpg" alt=""></div>
    			<div elem="item-container">
    				<div elem="item-date">17 Января 2019</div>
    				<div elem="item-title">Где можно заняться йогой?</div>    		
    			</div>
    		</a>
    	</div>
    	<div elem="item" mods="last">
    		<a elem="button" class="btn btn--1" href="#">Больше новостей</a>
    	</div>
    </div>
    
</div><!-- b-our-news -->