.b-partners
	display flex
	flex-wrap wrap
	margin-bottom 44px
	&__item 
		width 25%
		text-align center
		margin-bottom 40px
		padding-left 20px
		padding-right 20px
		color #57565a
		text-decoration none
		&:hover
			text-decoration underline
	&__item-logo 
		height 90px
		margin-bottom 5px
		img 
			vertical-align middle
			max-height 100%
		&:after
			content ""
			display inline-block
			vertical-align middle
			height 100%
	&__item-name
		text-transform uppercase
		line-height 22px
		font-weight 500
		a 
			color #235399
			text-transform none

	@media (max-width 940px) 
		&__item
			width 50%
	@media (max-width 480px) 
		display block
		text-align center
		&__item
			display inline-block
			max-width 100%
			width auto
			min-width 60%
			padding-left 0
			padding-right 0
	