<div block="b-partners" class="site-width">
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo1.png" alt=""></div>
		<div elem="item-name">ТОМСКИЙ НИМЦ <br> НИИ КАРДИОЛОГИИ</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo2.png" alt=""></div>
		<div elem="item-name">Проект <br> "Навстречу жизни"</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo3.png" alt=""></div>
		<div elem="item-name">Детская городская <br> больница №1</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo4.png" alt=""></div>
		<div elem="item-name">«ИММА» <br> медецинская клиника</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo3.png" alt=""></div>
		<div elem="item-name">Детская городская <br> больница №1</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo4.png" alt=""></div>
		<div elem="item-name">«ИММА» <br> медецинская клиника</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo1.png" alt=""></div>
		<div elem="item-name">ТОМСКИЙ НИМЦ <br> НИИ КАРДИОЛОГИИ</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo2.png" alt=""></div>
		<div elem="item-name">Проект <br> "Навстречу жизни"</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo1.png" alt=""></div>
		<div elem="item-name">ТОМСКИЙ НИМЦ <br> НИИ КАРДИОЛОГИИ</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo2.png" alt=""></div>
		<div elem="item-name">Проект <br> "Навстречу жизни"</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo3.png" alt=""></div>
		<div elem="item-name">Детская городская <br> больница №1</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo4.png" alt=""></div>
		<div elem="item-name">«ИММА» <br> медецинская клиника</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo3.png" alt=""></div>
		<div elem="item-name">Детская городская <br> больница №1</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo4.png" alt=""></div>
		<div elem="item-name">«ИММА» <br> медецинская клиника</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo1.png" alt=""></div>
		<div elem="item-name">ТОМСКИЙ НИМЦ <br> НИИ КАРДИОЛОГИИ</div>
	</a>
	<a elem="item" href="#">
		<div elem="item-logo"><img src="img/partner-logo2.png" alt=""></div>
		<div elem="item-name">Проект <br> "Навстречу жизни"</div>
	</a>
</div><!-- /b-partners -->