@keyframes spin {
    from {
        transform: rotate(0deg) 
    } to { 
        transform: rotate(360deg) 
    }        
}

.app-header
    flex none
    position relative
    background #102a43
    color #fff
    padding-top 14px
    padding-bottom 34px
    z-index 2
    &__content-top,
    &__content-bot
        display flex
        
    &__content-top
        & ^[0]
            &__container    
                padding-top 15px            
        
    &__content-bot
        align-items flex-end
        position relative
        z-index 2
        
    &__container    
        flex 1
        
    &__burger
        cursor pointer
        display none
        
        .svg-icon
            width 35px
            height 35px
    
    &__desc
        text-align right
        margin-bottom 25px

    &__menu
        position relative 
        z-index 3   
        > ul
            display flex
            flex-wrap wrap
            justify-content flex-end
            > li 
                margin-left 57px
                position relative
                &.has-sublevel
                    > a 
                        padding-right 19px
                &:hover 
                    > a 
                        color #fff
                                                        
                > a 
                    display block
                    position relative
                    text-transform uppercase
                    font-size 18px
                    font-weight 600
                    text-decoration none
                    transition all .3s ease             
                    
                .arrow 
                    position absolute
                    right 0
                    top 50%
                    transform translateY(-50%) 
                    width 9px
                    height 4px
                    &:after
                        position absolute
                        content ""
                        left 0
                        top -1px
                        border 5px solid transparent
                        border-top 5px solid #fff
            li
                &:hover
                    ul 
                        display block
                ul    
                    display none
                    position absolute
                    left 0
                    top 100%
                    width 180px
                    background #daeaff
                    box-shadow rgba(#000, 0.5)
                    border-radius 3px
                    padding 10px 0
                    li 
                        a 
                            display block
                            padding 5px 20px
                            text-decoration none
                            color $colorAccent
                            transition all .3s ease
                            &:hover
                                background $colorAccent
                                color #fff
    &__feedback
        position fixed
        right 0
        top 45px
        background $colorPrimary
        border-radius 22px 0 0 22px
        padding 7px 27px 8px 24px
        width 94px
        transition all .3s ease
        z-index 3
        &:hover
            background $colorAccent
            .svg-icon
                fill #fff
            
        .svg-icon
            transition all .3s ease
            fill $colorAccent
            width 22px
            height 29px
            display block
    
    &__login
        position relative        
        padding 0 0 3px 55px
        margin-bottom 20px
        line-height 22px
        a 
            color #fff
            text-decoration none 
            border-bottom 1px dashed #fff
            &.login    
                color $colorPrimary
                border-color $colorPrimary
                
            &:hover
                border-color transparent
                
        .svg-icon 
            position absolute
            left 0
            top 50%
            transform translateY(-50%) 
            width 44px
            height 44px
            fill $colorPrimary
            &.colored
                svg 
                    display none
    
    .phone
        position relative
        padding 10px 0 10px 56px
        &__icon
            position absolute
            left 0
            top 50%
            transform translateY(-50%) 
            border 1px solid $colorPrimary
            border-radius 500px
            width 44px
            height 44px
            display flex
            align-items center
            justify-content center
            .svg-icon
                fill $colorPrimary
                width 22px
                height 22px
        &__item 
            font-size 24px
            font-weight 500
            a 
                color #fff
                text-decoration none
                border-bottom 1px dashed $colorPrimary
                span 
                    color $colorPrimary

    &__search
        width 100%
        max-width 290px
        form 
            position relative
        input
            width 100%
            background none
            padding-left 40px
            border-color $colorPrimary
            padding-right 20px
            line-height 35px
            border 1px solid #c2c1c7
            border-radius 30px
            font-size 14px
            color #57565a
            outline none
            font-weight normal

            &::placeholder
                color #fff
                
        button 
            position absolute
            left 0        
            top 0
            right 0
            bottom 0
            width 40px
            background none
            border 0
            padding 0
            outline none
            .svg-icon
                width 18px
                height 18px
                fill $colorPrimary
                margin 0 0 3px 9px
                
    &__socials
        position absolute
        right 50px
        top 50%
        transform translateY(-50%) 
        a 
            display flex
            justify-content center
            align-items center
            border 1px solid #fff
            border-radius 100px
            margin-bottom 20px
            width 44px
            height 44px
            transition all .3s ease
            &:hover
                background $colorAccent
                border-color $colorAccent
            &:last-child
                margin-bottom 0
   
    &__top-pic   
        position absolute
        right 0
        top 0
        bottom 0
        width 560px   
        z-index -1
        .an-pic
            position absolute
            right 0
            top 0
            width 386px
            height 316px
            overflow hidden
            &:after
                content ""
                position absolute
                left 190px
                bottom 40px
                width 523px
                height 527px
                background url(../img/helix-big-white.png) 0 0 no-repeat
                transform: rotate(-358deg)
                background-size 100%
                animation-name: spin
                animation-duration: 150000ms
                animation-iteration-count: infinite
                animation-timing-function: linear
            
        
    &__bg-t-l     
        position absolute
        left 0
        top 0
        bottom 0
        width 658px
        z-index -1
        overflow hidden
        .svg-icon
            position absolute
            right 110px
            bottom 0
            fill #114173
            width 1000px
            height 1000px
            animation-name: spin
            animation-duration: 100000ms
            animation-iteration-count: infinite
            animation-timing-function: linear
            
    &__container-bot
        margin-top 67px
        display flex
        align-items center      
        justify-content flex-end  
        & ^[0]
            &__feedback
                @media (min-width 1025px) 
                    top auto
                    position relative
                    width auto
                    text-decoration none
                    display flex
                    align-items center
                    border-radius 20px
                    z-index 0 
                    @extend .btn--1               
                    .svg-icon
                        fill #fff
                        margin-right 10px
                @media (max-width 1024px) 
                    background $colorPrimary
                    
                
    &__text            
        padding 0 0 0 84px
        font-size 20px
        padding-top 120px
        padding-bottom 120px
        width 690px
        h1
            margin-bottom 22px
            
    &--type-2
        background #fff
        height 900px
        z-index 1
            
        & ^[0]
            &__content-top 
                & ^[0]
                    &__container
                        padding-top 50px
            &__bg-t-l     
                .svg-icon
                    fill #ececec
            &__menu
                position relative
                z-index 2
                > ul 
                    justify-content flex-start
                    padding-left 20px
                    > li 
                        &:first-child
                            margin-left 0
                        > a 
                            color $colorAccent  
                            .arrow                          
                                &:after
                                    border-top-color $colorAccent
                                    
                    
            &__search         
                margin-left 92px                   
                input 
                    border-color #fff
                button 
                    .svg-icon 
                        fill #fff    
                        
            &__text
                color #57565a
                h1 
                    color $colorAccent
            
            &__content-bot        
                display flex
                align-items flex-end
                & ^[0]
                    &__socials
                        position relative
                        right 0
                        top auto
                        transform translate(0, 0) 
                        margin-right 44px
                        a 
                            border-color #828282
                            margin-bottom 20px
                            &:last-child
                                margin-bottom 0
            &__login 
                a
                    border-color $colorAccent
                    color $colorAccent
                    &.login
                        color #57565a
                    &:hover
                        border-color transparent    

        .phone
            &__icon
                border-color $colorAccent
                .svg-icon 
                    fill $colorAccent
            &__item
                a 
                    color #57565a    
                    border-color $colorAccent
                    span 
                        color #235399

    &--personal-cabinet
        padding-bottom 20px
        & ^[0]
            &__logo
                .svg-icon
                    width 127px
                    height 124px
                    fill #2594d3    
        

    @media (min-width 1500px) 
        &__bg-t-l 
            width 804px
            .svg-icon
                width 1300px
                height 1300px
                        
        &__top-pic 
            width 696px   
        
            
    @media (max-width 1500px) 
        &__container-bot
            padding-right 10.7%
        
            
    @media (max-width 1024px) 
        &__burger
            z-index 5
            display block
            position fixed
            left 0
            top 0
            width 50px
            height 50px
            background $colorPrimary
            border-radius 0 0 23px
            box-shadow inset -1px -3px 0 rgba(#000, 0.2), 0 0 20px rgba(#000, 0.4)
            .svg-icon
                width 26px
                height 26px
                position absolute
                left 10px
                top 10px
        &__content-top    
            display block
            & ^[0]
                &__container
                    padding-top 0
        &__menu
            display none
            
        &__logo    
            text-align center
            max-width 170px
            margin 0 auto
            &--page-in
                max-width 140px
                margin-top 30px
        &__desc
            text-align center
            font-size 13px
            margin-bottom 0
            line-height 16px    
        &__feedback    
            top 5px
            width 58px
            padding-right 22px
            padding-left 22px
            font-size 0
            
        &__text    
            padding 0            
            width auto
            text-align center
            font-size 18px
            margin 0 auto 50px
            max-width 630px
            h1 
                font-size 35px
            
        &--type-2
            height auto
            & ^[0] 
                &__content-top 
                    & ^[0]   
                        &__container
                            padding 0
                        &__container-bot
                            margin 0

                &__content-bot 
                    & ^[0]
                        &__socials
                            margin-top 0
                            margin-left auto
                            margin-right auto
                            a
                                margin-bottom 10px
                                
           
    @media (max-width 1800px) 
        &.sts
            padding-bottom 0
            & ^[0]
                &__content 
                    padding-bottom 34px
            .b-carousel
                background #fff        
                margin 0
                padding 30px 0
                // border-bottom 2px solid $colorAccent
                &__item 
                    &:hover,
                    &.active-item
                        box-shadow 0 0 10px rgba(0,0,0,0.6)
                        transform scale(1)
                        background #daeaff
                        
                
    
    @media (max-width 1400px) 
        &__feedback
            top 120px
        &__socials    
            right 20px
        &__menu 
            > ul 
                > li    
                    margin-left 30px
                    &:first-child
                        margin-left 0
                    > a 
                        font-size 17px    
    
    @media (max-width 1024px) 
        min-height 600px
        padding-top 10px
        display flex
        flex-direction column
        &__desc
            margin-top 8px
        &__bg-t-l
            width 450px
            .svg-icon 
                opacity 0.8                
                width 800px
                height 800px
                
        &__content
            display flex
            flex-direction column
            flex 1
            
        &__content-top
            margin-bottom 30px
            
        &__content-middle
            flex 1
            display flex
            flex-direction column
            align-items center
            justify-content center
        
        &__login,
        &__search,
        .phone
            display none
            

        &__socials
            position relative
            top auto    
            right auto
            transform translateY(0) 
            margin-top 40px
            display flex
            justify-content center
            
            a 
                width 40px
                height 40px
                margin-bottom 10px                
                margin-left 10px
                margin-right 10px
                
        &__top-pic
            width 50%        
            &:after   
                content ""
                position absolute
                left 0
                top 0
                right 0
                bottom 0
                background rgba(#fff, 0.5)
                
        &--personal-cabinet                    
            min-height 0
            & ^[0]
                &__content-top
                    margin-bottom 0
                &__logo 
                    max-width 100%    
                    margin-bottom 10px
                    .svg-icon 
                        width 80px
                        height 80px
        &.sts
            & ^[0]
                &__content 
                    padding-bottom 0
                &__socials    
                    margin-bottom 20px
                
    @media (max-width 768px)
        &--type-2
            min-height 0
            z-index 3
        &__logo
            &--page-in
                margin-top 10px
                width 100px
    
    @media (max-width 760px)
        padding-bottom 20px
        &__socials 
            margin-top 30px
        &.sts
            .b-carousel    
                padding-top 0
                padding-bottom 0
                &:after
                    content ""
                    position absolute
                    left 0
                    top 0
                    bottom 20px
                    width 30px 
                    background #fff
                    background: linear-gradient(to right, #fff 0%, transparent 100%)
                &:before
                    content ""
                    position absolute
                    right 0
                    top 0
                    bottom 20px
                    width 30px 
                    background #fff
                    background linear-gradient(to left, #fff 0%, transparent 100%)
                    z-index 1
                &__items
                    overflow-y auto
                    white-space: nowrap
                    display block
                    padding-top 25px
                    padding-bottom 25px
                    text-align center
                    padding-left 20px
                    padding-right 20px
                &__item
                    margin-left 10px
                    margin-right 10px
                    margin-bottom 0
                    display inline-flex
                    
                
    @media (max-width 480px)
        &__bg-t-l
            display none
        &__top-pic    
            width auto
            left 0        
            &:after
                background rgba(#000, 0.4)
        &--type-2 
            & ^[0]       
                &__top-pic                 
                    &:after
                        background rgba(#fff, 0.4)

.b-carousel
    width 420px
    height 420px
    position relative
    position absolute
    left -210px
    top 50%
    transform translateY(-50%) 
    &__arrow 
        width 22px
        height 32px
        position absolute
        right -85px
        cursor pointer
        &:hover
            .svg-icon
                fill $colorPrimary
            
        .svg-icon
            fill #fff   
            transition all .3s ease
        &.prev
            top 45px
        &.next
            bottom 45px
            
    &__items    
        position relative
        border-radius 500px
        border 42px solid $colorAccent        
        width 420px
        height 420px
        transition all 0.3s ease
        transform rotate(90deg) 
        
    &__item
        cursor pointer
        width 100px        
        height 100px
        border 1px solid #57565a
        border-radius 500px
        position absolute
        background #fff
        display flex
        justify-content center
        align-items center
        transition all 0.1s ease
        transform rotate(-90deg)
       
  
        &.first
            top -99px
            left 118px
        &.second
            top -32px
            right -40px
        &.third
            right -99px
            top 118px
        &.fourth
            bottom -32px
            right -40px            
        &.fifth
            bottom -99px
            left 118px
        &.sixth
            bottom -32px
            left -40px    
        &.seventh
            left -99px
            top 118px
        &.eighth
            top -32px
            left -40px 
        
        img
            flex 1
            max-width 55%              

    @media (max-width 1800px) 
        position relative
        left auto
        top auto 
        transform translateY(0) 
        width auto
        height auto
        margin 50px 0
        &__arrow
            display none
        &__items
            width auto
            height auto
            border 0
            display flex
            flex-wrap wrap 
            justify-content center
            transform rotate(0) 
            & ^[0]
                &__item
                    position relative
                    position relative
                    left auto
                    top auto
                    right auto
                    bottom auto
                    margin 0 10px
                    
        &__item
            transform rotate(0) 
            &:hover
                transform scale(1.1) 
                box-shadow 0 0 10px rgba(#000, 0.6)
            &.active-item
                transform scale(1.1)
                
    @media (max-width 1024px)  
        margin-bottom 0                   
        &__items 
            & ^[0]
                &__item
                    width 75px
                    height 75px
                    margin 0 7px
    
    @media (max-width 760px)  
        &__items
            & ^[0]
                &__item
                    margin 0 5% 30px
    
    @media (max-width 540px)   
        &__items
            & ^[0]
                &__item
                    margin 0 3% 30px     
                    
    @media (max-width 380px)   
        &__items
            & ^[0]
                &__item
                    margin 0 10% 30px    
        
                       
.b-t-list
    display flex
    justify-content center
    margin-bottom -15px
    &__items
        position relative
        padding-top 88px
        z-index 2
        &--first
            margin-right -130px
            & ^[0]
                &__item 
                    padding-right 102px
                    text-align right
                    justify-content flex-end
                    &:after
                        right 0
                    &.second,
                    &.third
                        margin-right 75px    
        &--second
            margin-left -130px
            & ^[0]
                &__item 
                    padding-left 102px
                    text-align left
                    justify-content flex-start
                    &:after
                        left 0
                    &.second,
                    &.third
                        margin-left 75px  
    &__item
        position relative
        font-size 18px
        font-weight 300
        line-height 22px
        display flex        
        align-items center
        min-height 81px
        margin-bottom 41px
        text-decoration none
        color #fff
        &:hover            
            &:after
                background $colorPrimary
        &.second 
            margin-bottom 90px
        &:last-child 
            margin-bottom 0
        &:after
            content ""
            position absolute
            top 50%
            transform translateY(-50%) 
            width 81px
            height 81px
            border 2px solid #fff
            border-radius 500px
            background #225297
            transition all .3s ease
            box-shadow inset 0 0 42px rgba(#000, 0.6)
    &__image
        padding 63px       
        // flex 0 0 56.084% 
        flex 0 0 673px 
        height 673px
        border 4px solid #77a9d9
        border-radius 500px
        position relative        
        &:after
            content ""
            position absolute
            left 18px 
            top 18px 
            right 18px 
            bottom 18px 
            border 4px solid #77a9d9
            border-radius 500px 
    &__image-in
        z-index 1
        border 4px solid #77a9d9
        position relative
        width 100%        
        height 100%
        text-align center
        &:after
            content ""
            position absolute
            left 18px 
            top 18px 
            right 18px 
            bottom 18px 
            border 4px solid #77a9d9
            z-index -1
        img 
            margin 38px 0 0    
            
    @media (max-width 1024px) 
        &__image
            padding 47px
            // flex 0 0 42%
            flex 0 0 413px
            height 413px
            border-width 2px
            &:after
                border-width 2px
                left 9px
                top 9px
                right 9px
                bottom 9px
                
        &__image-in
            border-width 2px
            &:after
                border-width 2px
                left 9px
                top 9px
                right 9px
                bottom 9px            
            img 
                margin-top 22px 
                       
        &__item
            font-size 15px
            min-height 57px
            margin-bottom 7.8%
            &:after    
                width 59px
                height 59px
            &.second    
                margin-bottom 10%
                
        &__items
            padding-top 48px
            &--first    
                margin-right -90px
                & ^[0]
                    &__item
                        padding-right 77px
                        &.second,  
                        &.third
                            margin-right 52px  
                        
            &--second
                margin-left -90px
                & ^[0]
                    &__item
                        padding-left 77px
                        &.second,  
                        &.third
                            margin-left 52px 
                            
    @media (max-width 940px)
        flex-direction column
        align-items flex-start
        &__image  
            padding 35px
            position relative
            order -1
            flex none
            width 420px
            height 420px
            margin 35px auto
        &__items
            margin 0    
            width 100%
            padding-top 0
            display flex
            flex-wrap wrap
            justify-content center
            & ^[0]
                &__item
                    width 35%
                    display block
                    margin 0 0 25px !important
                    padding 35px 0 0
                    text-align center
                    line-height 18px
                    font-size 14px
                    &:after
                        top 0
                        left 50%
                        transform translateX(-50%) 
                        width 25px
                        height 25px
                        
    @media (max-width 540px)  
        &__image
            max-width 420px
            width 100%
            height 100%
        &__items
            & ^[0] 
                &__item
                    width 100%
                    padding-left 10px
                    padding-right 10px