{% if emptyHeader == true%}
<header block="app-header" mods="personal-cabinet" class="sts">
    <div elem="content" mix="block:site-width">
        <div elem="content-top">
            <div elem="burger">{{ _icon('menu', { tag: 'span' }) }}</div>
            <div elem="logo">
                <a href="#">{{ _icon('info-pic1', { tag: 'span' }) }}</a>                
            </div>
            <div elem="container">
                <div elem="desc">Центр интегративного управления здоровьем</div>
                <nav elem="menu">
                    <ul>
                        {% for item in menuTop %}
                        <li{% if item.subLevelClass == true %} class="has-sublevel"{% endif %}{% if item.activeClass == true %} class="is-active"{% endif %}>
                            <a href="#" style="color: {{item.color}};">{{item.name}}</a>
                            {% if item.subLevelClass == true %}
                            <ul>
                                <li><a href="#">Подпункт 1</a></li>
                                <li><a href="#">Подпункт 2</a></li>
                                <li><a href="#">Подпункт 3</a></li>
                                <li><a href="#">Подпункт 4</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <a elem="feedback" class="_js-feedback" href="#">{{ _icon('clipboard-2', { tag: 'span' }) }}</a>
    </div>
</header><!-- b:app-header -->    
{% else %}    
<header block="app-header" {% if lightHeader == true %}mods="type-2"{% endif %} class="sts">	
    {% if mainPage != true %}
    <div elem="bg-t-l">
        {{ _icon('info-pic1', { tag: 'span' }) }}
    </div> 
    {% endif %}
    <div elem="content" mix="block:site-width">
    	<div elem="content-top">
	    	<div elem="burger">{{ _icon('menu', { tag: 'span' }) }}</div>
            {% if mainPage == true %} 
            <div elem="logo" mods="page-in">
                <a href="#"><img src="img/logo-in.png" alt=""></a>                
            </div>
            {% else %}            
            {% if lightHeader == true %}
            <div elem="logo" mods="page-in">
                <a href="#"><img src="img/logo-in2.png" alt=""></a>                
            </div>
            {% else %}
            <div elem="logo" mods="page-in">
                <a href="#"><img src="img/logo-in.png" alt=""></a>                
            </div>
            {% endif %}
            {% endif %}
	    	<div elem="container">
                {% if lightHeader != true %}
		    	<div elem="desc">Центр интегративного управления здоровьем</div>
                {% endif %}
				<nav elem="menu">
					<ul>
						{% for item in menuTop %}
						<li{% if item.subLevelClass == true %} class="has-sublevel"{% endif %}{% if item.activeClass == true %} class="is-active"{% endif %}>
							<a href="#" style="color: {{item.color}};">{{item.name}}</a>
							{% if item.subLevelClass == true %}
							<ul>
								<li><a href="#">Подпункт 1</a></li>
								<li><a href="#">Подпункт 2</a></li>
								<li><a href="#">Подпункт 3</a></li>
								<li><a href="#">Подпункт 4</a></li>
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</nav>
                {% if lightHeader == true %}
                <div elem="container-bot">
                    <a elem="feedback" class="_js-feedback btn btn--1" href="#">{{ _icon('clipboard-2', { tag: 'span' }) }}Записаться на прием!</a>
                    <div elem="search">
                        <form action="#">
                            <input type="text" placeholder="Найти информацию">
                            <button>{{ _icon('lupe', { tag: 'span' }) }}</button>
                        </form>
                    </div>  
                </div>
                {% endif %} 
			</div>
    	</div>
    	<div elem="content-middle">
            {% if mainPage == true %}   
    		<div block="b-t-list">
    			<div elem="items" mods="first">
    				<a elem="item" href="#" class="first">Физическое здоровье <br> органов и систем</a>
    				<a elem="item" href="#" class="second">Жизненная <br> энергия</a>
    				<a elem="item" href="#" class="third">Генетические <br> предрасположенности <br> и риски</a>
    				<a elem="item" href="#" class="fourth">Ресурсные состояния и <br> резервы организмов</a>
    			</div>
    			<div elem="image">
    				<div elem="image-in">
    					<img src="img/human.png" alt="">
    				</div>
    			</div>
    			<div elem="items" mods="second">
    				<a elem="item" href="#" class="first">Психоэмоциональный баланс <br> и стрессоустойчивость</a>
    				<a elem="item" href="#" class="second">Ментальные установки <br> и поведенческие <br> сценарии</a>
    				<a elem="item" href="#" class="third">Отношение к себе, <br> к другим и миру</a>
    				<a elem="item" href="#" class="fourth">Уровень осознанности и <br> управления привычками</a>
    			</div>
    		</div>          
			{#<div block="b-carousel">
				<div elem="arrow prev">
					{{ _icon('arrow-top', { tag: 'span' }) }}
				</div>
				<div elem="items">
					<div elem="item" class="first active-item" data-tab-index="1"><img src="img/bowl.png" alt=""></div>
					<div elem="item" class="second" data-tab-index="2"><img src="img/brain.svg" alt=""></div>
					<div elem="item" class="third" data-tab-index="3"><img src="img/meditation.svg" alt=""></div>
					<div elem="item" class="fourth" data-tab-index="4"><img src="img/meditation.svg" alt=""></div>
					<div elem="item" class="fifth" data-tab-index="5"><img src="img/brain.svg" alt=""></div>
					<div elem="item" class="sixth" data-tab-index="6"><img src="img/bowl.png" alt=""></div>
					<div elem="item" class="seventh" data-tab-index="7"><img src="img/meditation.svg" alt=""></div>
					<div elem="item" class="eighth" data-tab-index="8"><img src="img/brain.svg" alt=""></div>
				</div>
				<div elem="arrow next">
					{{ _icon('arrow-down', { tag: 'span' }) }}
				</div>
			</div>#}
            {% else %}
            <div elem="text">
                <h1>{{headerText.title}}</h1>
                {{headerText.text}}
            </div>
            <div elem="top-pic" style="background: url({{headerPic}}) 0 top no-repeat; background-size: cover;">
                <div class="an-pic"></div>                
            </div>
            {% endif %}
    	</div>	
    	<div elem="content-bot">
            {% if lightHeader == true %}
            <div elem="socials">
                <a href="#"><img src="img/fb-2.png" alt=""></a>
                <a href="#"><img src="img/wk-2.png" style="margin: 2px 0 0 -1px;" alt=""></a>
                <a href="#"><img src="img/insta-2.png" alt=""></a>
                <a href="#"><img src="img/yt-2.png" alt=""></a>
            </div>
            {% endif %}
    		<div elem="container">
    			<div elem="login">
                    {% if lightHeader != true %}
    				{{ _icon('user-colored', { tag: 'span' }) }}
                    {% else %}
                    <span class="svg-icon colored"><img src="img/user-colored.svg" alt=""><svg class="svg-icon__link"><use xlink:href="#user-colored"></use></svg></span> 
                    {% endif %}
    				<a href="#" class="login _js-authorization">Войти</a>
    				<br>
    				<a href="#">Зарегистрироваться</a>
    			</div>
    			<div block="phone">
    				<div elem="icon">{{ _icon('phone', { tag: 'span' }) }}</div>    				
    				<div elem="item"><a href="tel:+7 (495) 660-39-80">+7 <span>(495)</span> 660-39-80</a></div>
    			</div>
    		</div>  
            {% if lightHeader != true %}
    		<div elem="search">
    			<form action="#">
    				<input type="text" placeholder="Найти информацию">
    				<button>{{ _icon('lupe', { tag: 'span' }) }}</button>
    			</form>
    		</div>	
            {% endif %}	
    	</div>
    </div>
    {% if lightHeader != true %}
    <a elem="feedback" class="_js-feedback" href="#">{{ _icon('clipboard-2', { tag: 'span' }) }}</a>
    <div elem="socials">
    	<a href="#"><img src="img/fb.png" alt=""></a>
    	<a href="#"><img src="img/wk.png" style="margin: 2px 0 0 -1px;" alt=""></a>
    	<a href="#"><img src="img/insta.png" alt=""></a>
    	<a href="#"><img src="img/yt.png" alt=""></a>
    </div>
    {% endif %}
    {% if mainPage == true %} 
    <div block="b-carousel">
        <div elem="arrow prev">
            {{ _icon('arrow-top', { tag: 'span' }) }}
        </div>
        <div elem="items">
            <div elem="item" class="first active-item" data-tab-index="1"><img src="img/bowl.png" alt=""></div>
            <div elem="item" class="second" data-tab-index="2"><img src="img/meditation.svg" alt=""></div>
            <div elem="item" class="third" data-tab-index="3"><img src="img/brain.svg" alt=""></div>
            <div elem="item" class="fourth" data-tab-index="4"><img src="img/meditation.svg" alt=""></div>
            <div elem="item" class="fifth" data-tab-index="5"><img src="img/brain.svg" alt=""></div>
            <div elem="item" class="sixth" data-tab-index="6"><img src="img/bowl.png" alt=""></div>
            <div elem="item" class="seventh" data-tab-index="7"><img src="img/meditation.svg" alt=""></div>
            <div elem="item" class="eighth" data-tab-index="8"><img src="img/brain.svg" alt=""></div>
        </div>
        <div elem="arrow next">
            {{ _icon('arrow-down', { tag: 'span' }) }}
        </div>
    </div>
    {% endif %} 
</header><!-- b:app-header -->
{% endif %}   
