.b-person
	margin-bottom 70px
	display flex
	align-items flex-start
	&__image
		margin-right 57px 
		flex 0 0 318px
		position relative
		img 
			border-radius 20px
	&__image-icon
		position absolute
		left -33px 
		bottom -83px
		background $colorAccent
		border-radius 500px
		width 200px
		height 200px
		display flex
		justify-content center
		align-items center
		padding-left 1px
		padding-top 2px
		.svg-icon
			width 70%
			height auto
			fill #fff
			svg 
				width 100%
	&__container
		padding 0 53px 0 0
		position relative
		&:after
			content ""
			position absolute
			right 0
			bottom 50px
			width 264px
			height 321px
			border-right 2px solid
			border-bottom 2px solid
			border-color $colorAccent
	&__footer
		display flex
		align-items center
	&__name	
		color $colorAccent
		font-size 16px
		font-weight 500
		span 
			display block
			color #57565a
			font-size 14px
			font-weight 400
	.signature		
		max-width 131px
		margin-left 15%		
		
	@media (max-width 940px) 	
		&__image
			margin-right 20px
		&__image-icon	
			width 150px
			height 150px
			left -10px
			bottom -40px
		&__container
			padding-right 0
			&:after	
				display none
		.signature						
			margin-left auto
			margin-right auto
			
	@media (max-width 768px) 		
		display block
		margin-bottom 40px
		&__image
			margin 0 auto 80px
			width 300px