<div block="b-person">
	<div elem="image">
		<img src="img/dr-haus.jpg" alt="">
		<div elem="image-icon">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
	</div>
	<div elem="container">
		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>

		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>
		<div elem="footer">
			<div elem="name">
				Грегори Хаус
				<span>Директор, главный врач</span>
			</div>
			<img class="signature" src="img/signature.png" alt="">
		</div>
	</div>
</div><!-- /b-person -->