<div block="b-map">
<div id="map"></div>
    <script>
      var map;
      var image  = "img/flag.png";

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
           	center: new google.maps.LatLng(55.7450226, 37.6256538), 
           	zoom: 16,        	
        	icon: image
		});

	    var marker2 = new google.maps.Marker({
	        position: {
	            lat: 55.7450226,
	            lng: 37.6256538
	        },
	        map: map,
	        icon: image
	    });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0HoTAdhItKayUeV3yP_SFVzHKCrE1d9E&libraries=places,geometry&callback=initMap"></script>
</div><!-- /b-map -->