<div block="c-feedback">
	<div elem="in" class="{{cFeedbackClass}}">
		<div elem="container">
			<div elem="title" class="block-title">Есть вопросы? <br> Мы с радостью на них ответим</div>
			<form action="#" elem="form">
				<div elem="form-items">
					<div elem="form-item">
						<input type="text" placeholder="Ваше ФИО" required>
					</div>		
					<div elem="form-item">
						<input type="tel" placeholder="Номер телефона" required>
					</div>		
				</div>
				<div elem="form-item">		
					<textarea name="" placeholder="Напишите свой вопрос"></textarea>
				</div>
				<div elem="form-footer">
					<div elem="form-item" mods="checkbox">
						<span class="checkbox checkbox--radio">
							<input type="checkbox" checked required>
							<span></span>
						</span>
						Разрешить обработку персональных данных
					</div>
					<button elem="form-button" class="btn btn--1">Получить консультацию</button>
				</div>
			</form>
		</div>
		<div elem="icons" class="_js-tab">
			<div elem="icon" class="first is-active _js-tab-title" data-tab-index="1">{{ _icon('doctor', { tag: 'span' }) }}</div>
			<div elem="icon" class="second _js-tab-title" data-tab-index="2">{{ _icon('first-aid-kit', { tag: 'span' }) }}</div>
			<div elem="icon" class="third _js-tab-title" data-tab-index="3">{{ _icon('medical-history', { tag: 'span' }) }}</div>
			<div elem="icon" class="fourth _js-tab-title" data-tab-index="4">{{ _icon('stethoscope-2', { tag: 'span' }) }}</div>
			<div elem="icon-desc" class="_js-tab-content is-active" data-tab-index="1">
				<div elem="icon-desc-title">5</div>
				специалистов 
				<br>
				будут проводить
				ваше обследование
			</div>
			<div elem="icon-desc" class="_js-tab-content" data-tab-index="2">
				<div elem="icon-desc-title">10</div>
				примерное
				наполнение
			</div>
			<div elem="icon-desc" class="_js-tab-content" data-tab-index="3">
				<div elem="icon-desc-title">1</div>
				примерное
				наполнение блока
			</div>
			<div elem="icon-desc" class="_js-tab-content" data-tab-index="4">
				<div elem="icon-desc-title">2</div>
				специалистов 
				<br>
				будут проводить
				ваше обследование
			</div>	
		</div>
	</div>
</div><!-- /c-form -->