.c-feedback
    margin-bottom 62px
    &__in 
        display flex
        justify-content space-between
        
    &__container
        width 51.334%
        margin-right 30px 
        
    &__title
        text-align left
        color $colorAccent
        padding-top 0
        padding-bottom 0
        margin-bottom 10px
        line-height 34px
    &__form
        input,
        textarea    
            width 100%
        textarea
            background url(../img/textarea-line.png) 0 -8px repeat, url(../img/textarea-line-h.png) 0 -8px repeat
            padding-top 0
            padding-bottom 10px
            min-height 168px
            line-height 43px
            &:focus
                background url(../img/textarea-line-h.png) 0 -8px repeat
                border-color $colorPrimary
            
    &__form-items       
        display flex
        justify-content space-between       
        & ^[0]
            &__form-item
                width 42.858%
                margin-bottom 10px
                &:first-child
                    width 51.95%
                
    &__form-item
        margin-bottom 25px
        &--checkbox 
            margin-bottom 0
            width 203px
            display flex
            .checkbox
                min-width 26px
                margin-top -2px
                span 
                    background #fff
                input:checked + span 
                    background #ececec    
        
    &__form-footer
        display flex
        justify-content space-between
        align-items center
    &__form-button 
        min-width 220px
        padding-top 12px
        padding-bottom 12px
        
    &__icons
        width 496px            
        min-width 496px
        height 496px
        position relative
        margin-top -50px
        padding 135px
        display flex
        justify-content center
        align-items center
        
        &:after,
        &:before
            content ""
            position absolute
            border 2px dashed 
            border-radius 1000px
        &:after
            left 62px
            top 62px
            right 62px
            bottom 62px
            border-color #57565a
        &:before
            left 98px
            top 98px
            right 98px
            bottom 98px
            border-color $colorAccent
            
    &__icon
        position absolute
        width 128px
        height 128px
        box-shadow 0 8px 10px rgba(0, 0, 0, 0.2)
        border 18px solid #fff
        background-color #ececec    
        display flex
        justify-content center
        align-items center
        border-radius 500px
        transition all .3s ease
        z-index  1
        cursor pointer
        &:hover,
        &.is-active
            background $colorAccent
            .svg-icon 
                fill #fff
        &.first,
        &.third
            top 50%
            transform translateY(-50%) 
            
        &.second,
        &.fourth
            left 50%
            transform translateX(-50%)  
            
        &.first
            left 0
        &.second
            top 0
        &.third
            right 0
        &.fourth
            bottom 0
                    
        .svg-icon
            width 54px
            height 60px
            fill $colorAccent
            &--first-aid-kit
                width 63px
                height 54px
            &--medical-history
                width 49px
                height 56px
            &--stethoscope-2
                width 52px
                height 52px
                
    &__icon-desc
        position relative
        z-index 1   
        font-size 14px
        line-height 20px
        display none
        width 150px
        &.is-active
            display block
        
    &__icon-desc-title
        color $colorAccent
        font-size 50px
        font-weight 900
        margin-bottom 7px
        line-height 35px
    
    @media (max-width 1024px)     
        &__in
            display block
        &__container
            width auto    
            margin-bottom 40px
            margin-right 0
        &__icons
            margin 0 auto    
        &__form-item
            &--checkbox
                width auto
    @media (max-width 760px)
        &__title
            line-height 30px
            margin-bottom 20px
         
    @media (max-width 580px)     
        &__form-items
            display block
            & ^[0]
                &__form-item
                    width auto
                    margin-bottom 20px
                    &:first-child
                        width auto
                        
        &__form-item
            margin-bottom 20px
                        
        &__icons                
            width 100%
            height 100%
            min-width 0
            
    @media (max-width 480px)  
        margin-bottom 42px
        &__form-footer   
            display block
        &__form-item
            &--checkbox    
                width auto
                margin-bottom 25px
        
        &__form-button
            display block
            width 100%

        &__icons
            padding 65px 70px
            height 300px
            max-width 300px
            &:after    
                left 21px
                top 21px
                right 21px
                bottom 21px
            &:before    
                left 30px
                top 30px
                right 30px
                bottom 30px
        &__icon
            width 70px    
            height 70px
            border-width 8px
            padding 10px
            
            &.first
                left -5px
            &.second     
                top -5px
            &.third     
                right -5px
            &.fourth    
                bottom -5px
                
            .svg-icon
                width 100%
                height auto   
                
        &__icon-desc
            text-align center
        &__icon-desc-title        
            font-size 35px
            line-height 25px