.b-about
    background url(../img/b-about-bg) center center no-repeat
    padding-bottom 70px 
    position relative
    &__title
        margin-bottom 20px  
        color #fff    
    &__content
        padding-top 120px
    &__text-container   
        margin-bottom 33px
        display flex
        justify-content space-between
    &__text 
        width 47.6% 
        color #fff
        text-align justify
    &__items    
        background url(../img/wave.png) center 30px repeat-x
        background-size 1201px 254px
        margin-bottom 54px
        min-height 321px
    &__items-in    
        min-height 254px
        padding-left 90px
        padding-right 70px        
        display flex
        justify-content space-between
        
    &__item
        color #fff  
        display flex 
        flex-direction column
        opacity 0
        &:nth-child(1),
        &:nth-child(2)
            flex-direction column-reverse
        &:nth-child(1)
            // margin-top 117px
            margin-right 70px
            margin-bottom 20px
        &:nth-child(2)
            margin-top 140px
        &:nth-child(3)
            margin-top 30px
        &:nth-child(1n + 3)
            & ^[0]
                &__item-title
                    margin-top 27px
                    margin-bottom 0
        &:nth-child(2n)
            & ^[0]
                &__item-icon
                    background #ececec
                    .svg-icon
                        fill $colorAccent
                
    &__item-icon
        width 106px
        height 106px
        border 14px solid #fff
        border-radius 500px
        background $colorAccent
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2)
        display flex
        justify-content center 
        align-items center
        font-size 36px
        text-align center
        font-weight 500
        .svg-icon
            width 80%
            height auto
            
    &__item-title
        font-size 18px
        font-weight 700
        margin-bottom 27px
    &__link 
        text-align center        
        opacity 0 
        .btn 
            min-width 180px
            font-weight 600
            
    &--type-2        
        padding-top 134px 
        margin-bottom 90px

    @media (max-width 1024px) 
        padding-bottom 30px
        &__content 
            padding-top 40px
        &__title 
            margin-bottom 30px    
        &__items
            background-position center 42px
            margin-bottom 40px
        &__items-in
            padding-left 60px    
            padding-right 40px    
        &__item
            &:nth-child(1)    
                margin-top 145px
                margin-right 60px
        &__item-title
            font-size 16px
            
    @media (max-width 768px) 
        &__text-container
            display block
        &__text 
            width auto    
        &__items
            background none
            margin-bottom 0
        &__items-in    
            padding-left 20px
            padding-right 20px
            flex-wrap wrap
            justify-content center
        &__item
            margin 0
            text-align center
            display block
            margin-right 0
            width 100%
            max-width 290px
            padding-left 20px
            padding-right 20px
            &:nth-child(1),
            &:nth-child(2)
                margin-top 0
                margin-bottom 40px
                margin-right 0
                display block
                & ^[0]
                    &__item-title
                        margin-bottom 0
                        margin-top 27px

            &:nth-child(3),
            &:nth-child(4)
                margin-top 0    
                margin-bottom 40px 
                   
        &__item-icon
            width 90px
            height 90px
            margin-left auto
            margin-right auto
            
        &--type-2    
            padding-top 40px
            padding-bottom 0
            margin-bottom 55px