<div block="b-about" style="background: url(img/b-about-bg.jpg) center center no-repeat; background-size: cover;" class="op-bl index-1">
	<div elem="content" class="scale site-width">
		<div elem="title" class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>О нашем центре</span></div>
		<div elem="text-container">
			<div elem="text">
				<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

				<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму.</p>
			</div>
			<div elem="text">
				<p>Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
			</div>
		</div>
	</div>
	<div elem="items">
		<div elem="items-in" class="site-width">
			<div elem="item">
				<div elem="item-icon">10</div>
				<div elem="item-title">10 лет <br> практики</div>
			</div>
			<div elem="item">
				<div elem="item-icon">{{ _icon('doctor', { tag: 'span' }) }}</div>
				<div elem="item-title">Квалифицированные <br> специалисты</div>
			</div>
			<div elem="item">
				<div elem="item-icon">{{ _icon('virus', { tag: 'span' }) }}</div>
				<div elem="item-title">Профессиональное <br> оборудование</div>
			</div>
			<div elem="item">
				<div elem="item-icon">{{ _icon('maternity', { tag: 'span' }) }}</div>
				<div elem="item-title">Забота о каждом <br> пациенте</div>
			</div>
		</div>
	</div>
	<div elem="link">
		<a href="#" class="btn btn--2">Еще о нас</a>
	</div>
</div><!-- /b-about -->