<div block="b-c-block" >
	<div elem="bg-r">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
	<div elem="in" class="site-width">
		<div elem="title" class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>Оборудование</span></div>
		<div elem="container">
			<div elem="content">
				<div elem="text">
					<div elem="text-image"><img src="img/scanme.png" alt=""></div>
					<p>SCANME проводит комплексную оценку функциональных показателей организма человека, моментально формирует детальный отчет и вырабатывает рекомендации по улучшению показателей за счет услуг вашего клуба.</p>
				</div>
				<div elem="items">
					<div elem="item">
						<div elem="item-icon"><img src="img/stopwatch.svg" alt=""></div>
						<div elem="item-desc">Результат за 30 минут, оценка динамики и здоровья</div>
					</div>
					<div elem="item">
						<div elem="item-icon"><img src="img/coach.svg" alt=""></div>
						<div elem="item-desc">SCANME объединяет <br> тренера и спортивного врача</div>
					</div>
					<div elem="item">
						<div elem="item-icon"><img src="img/application-2.svg" alt=""></div>
						<div elem="item-desc">В одном корпусе множество функциональных блоков</div>
					</div>
				</div>
			</div>
			<div elem="image"><img src="img/bl-img.png" alt=""></div>
		</div>
	</div>
</div><!-- /b-c-block -->