.b-c-block
    padding-bottom 31px
    position relative
    overflow hidden
    &__bg-r
        position absolute
        right 50%
        bottom 0
        margin-right -830px
        width 496px
        height 244px
        overflow hidden
        .svg-icon
            fill #ececec
            width 496px
            height 496px
    &__in 
        position relative        
    &__container
        display flex
    &__content 
        padding-top 44px
    &__text
        display flex
        margin-bottom 44px
    &__text-image   
        margin-right 32px 
        min-width 144px
    &__image    
        flex 0 0 34%
        margin-left 90px
        display flex
        justify-content flex-end
        align-items flex-end
    &__items
        display flex    
        flex-wrap wrap
    &__item
        width 33%       
        padding-right 10%
    &__item-icon    
        margin-bottom 16px
        
    @media (max-width 1024px)   
        &__image  
            margin-left 30px
        &__item    
            padding-right 20px
            
    @media (max-width 940px)  
        &__container 
            display block
        &__text
            margin-bottom 70px
        &__items
            margin-bottom 70px 
            justify-content center
        &__item 
            padding-left 10px
            padding-right 10px    
            text-align center
        &__image
            display block
            margin-left 0  
            text-align center
            img 
                max-width 100%
                
    @media (max-width 768px)  
        &__content 
            padding-top 35px
        &__text
            display block            
            text-align center
        &__text-image
            margin-bottom 20px            
            margin-right 0
            
    @media (max-width 580px)  
        &__text 
            margin-bottom 40px
        &__items
            display block
            margin-bottom 40px
        &__item
            width 300px
            margin 0 auto 40px
            &:last-child 
                margin-bottom 0
            