.c-slider
	max-width 572px
	.owl-dots	
		position absolute
		left 0
		right 0
		bottom 0
	.owl-dots	
		font-size 0
		text-align center
	.owl-dot
		display inline-block
		width 7px
		height 7px
		margin 0 15px 15px
		background $colorAccent
		border-radius 50px
		position relative
		cursor pointer
		transition all .3s ease
		&:after
			content ""
			position absolute
			left -7px
			top -7px
			right -7px
			bottom -7px
		&:hover,
		&.active
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.52), 0 0 0 7px #fff
	@media (max-width 768px) 	
		max-width 100%
		&.left,
		&.right
			float none
			margin-left 0
			margin-right 0
		
	@media (max-width 480px) 	
		.owl-dot
			margin-left 10px
			margin-right 10px
			margin-bottom 10px