$system-font = unquote('"Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')

$colors = {
  theme: convert($data.colors.theme),
  accent: convert($data.colors.accent),
}

$colorAccent  = $colors.theme
$colorPrimary = $colors.accent

$appWidth = 1240
$appGutter = 20

$linksColor = $colors.accent

$fonts = {
  base: $system-font,
  headings: $system-font,
  headingsSize: 40
}

$body = {
  fontSize: 14px,
  fontFamily: $fonts.base,
  fontWeight: 400,
  lineHeight: 24px,
  color: #57565a,
  bgc: #fff
}

$selection = {
  bgc: $colors.theme,
  color: #fff
}

$selectionHeadings = {
  bgc: $colors.accent,
  color: #000
}

$placeholders = {
  normal : getColor($body.color, 'hint'),
  focus  : transparent
}
