
::-moz-selection
  background: $selection.bgc
  color: $selection.color
  text-shadow: none

::selection
  background: $selection.bgc
  color: $selection.color
  text-shadow: none

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  color $colorAccent
  line-height 50px
  &::-moz-selection,
  *::-moz-selection
    background : $selectionHeadings.bgc
    color : $selectionHeadings.color
    text-shadow : none

  &::selection,
  *::selection
    background : $selectionHeadings.bgc
    color : $selectionHeadings.color
    text-shadow : none

h1, .h1
  color $colorPrimary
  font-weight 400

/* IE 10+ */
::-webkit-input-placeholder
  color : $placeholders.normal
:-moz-placeholder
  color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
  color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
  color : $placeholders.normal

/* Input placeholder color
  ========================================================================== */
/* IE 10+ */
input:focus::-webkit-input-placeholder
  color : $placeholders.focus
input:focus:-moz-placeholder
  color : $placeholders.focus
/* FF 4-18 */
input:focus::-moz-placeholder
  color : $placeholders.focus
/* FF 19+ */
input:focus:-ms-input-placeholder
  color : $placeholders.focus

* {
  min-width: 0
  min-height: 0
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing : antialiased;
  -ms-text-size-adjust : 100%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: $body.fontFamily;
  font-size: $body.fontSize;
  font-weight: $body.fontWeight;
  line-height: $body.lineHeight;
  color: $body.color;
  text-align: left;
  background-color: $body.bgc;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: $linksColor;
  text-decoration: none;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {  
  text-decoration none
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
textarea
  outline none
  border 0
  border-bottom 1px solid $colorAccent
  border-radius 0
  padding-left 0
  padding-right 0
  font-weight 500
  &::placeholder
    color #57565a
  &:focus   
    border-color $colorPrimary

input {
  height 35px
  padding-top 3px
}


button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.btn
  min-height 42px
  border-radius 20px
  border 0
  font-size 14px
  font-weight 500
  padding 14px 20px 12px
  line-height 1
  display inline-block
  text-align center
  transition all .3s ease  
  text-decoration none
  &:focus 
    outline none
    
  &--1
    color #fff
    background $colorAccent
    &:hover
      background lighten($colorAccent, 20%)
    &:active
      background darken($colorAccent, 20%)
      
  &--2
    background #fff
    color $colorAccent
    &:hover
      background $colorAccent
      color #fff

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.overflow-hidden
    overflow hidden

.site-width
  width 100%
  max-width ($appWidth)px
  padding-left ($appGutter)px    
  padding-right ($appGutter)px
  margin-left auto    
  margin-right auto    
    
  @media (max-width 480px) 
    padding-left 10px    
    padding-right 10px

blockquote
  padding: 15px
  padding-left: 20px
  border-left: 5px solid $colors.theme
  background-color: rgba($colors.theme, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-family: $fonts.headings
  font-size: ($fonts.headingsSize)px  

h2, .h2
  font-size: ($fonts.headingsSize - 2)px  
  
h3, .h3
  font-size: ($fonts.headingsSize - 4)px   

h4, .h4
  font-size: ($fonts.headingsSize - 6)px   

h5, .h5
  font-size: ($fonts.headingsSize - 8)px 
    
h6, .h6
  font-size: ($fonts.headingsSize - 9)px  

svg:not(:root)
  overflow hidden

.block-title
  font-size 24px
  line-height 34px
  text-align center
  padding-top 26px
  padding-bottom 26px
  font-weight 700
  text-transform uppercase
  position relative
  .svg-icon
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%) 
    width 82px
    height 80px
    fill #9bc6ff
  span 
    position relative
  @media (max-width 760px) 
    font-size 22px
    
.block-title2    
  font-weight 500
  font-size 16px  
  margin-bottom 25px

.left
  float left  
  margin-right 55px
  margin-bottom 30px
.right 
  float right
  margin-left 55px
  margin-bottom 30px

.clear
  clear both
  height 0
  line-height 0

.video
  width 100%  
  max-width 572px
  background #000
  height 321px
  iframe
    width 100%
    height 100%

@media (max-width 940px)     
  .left
    margin-right 20px
    margin-bottom 20px  
  .right
    margin-left 20px
    margin-bottom 20px
  
@media (max-width 768px)     
  .video,
  .c-image
    max-width 100%
    
    &.left,
    &.right
      float none
      margin-left 0
      margin-right 0
      
  .c-image
    width 100%
      
  .m-none    
    display none