<div block="c-price-list">
	<div elem="in" class="site-width">
		<div elem="title" class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>Прайс на услуги</span></div>
		<div elem="tab" class="_js-tab">
			<div elem="tab-titles">
				<a href="#" elem="tab-title" class="_js-tab-title is-active" data-tab-index="1">Взрослый</a>
				<a href="#" elem="tab-title" class="_js-tab-title" data-tab-index="2">Детский</a>
			</div>
			<div elem="tab-content" class="_js-tab-content is-active" data-tab-index="1">
				<div elem="tab-head">
					<div elem="column">название и краткое описание</div>
					<div elem="column">стоимость</div>
					<div elem="column">по карте “клиент”</div>
				</div>
				<div block="c-accordion">
					<div elem="item" class="is-active">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
				</div>
			</div>
			<div elem="tab-content" class="_js-tab-content" data-tab-index="2">
				<div elem="tab-head">
					<div elem="column">название и краткое описание</div>
					<div elem="column">стоимость</div>
					<div elem="column">по карте “клиент”</div>
				</div>
				<div block="c-accordion">
					<div elem="item" class="is-active">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
					<div elem="item">
						<div elem="item-in">
							{{ _icon('correct', { tag: 'span', class: 'mark' }) }}
							<div elem="column" mods="first">
								<div elem="item-title">Эндоскопия, Колоноскопия</div>
								<div elem="item-body">
								Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
									<div elem="item-time">
										{{ _icon('passage-of-time', { tag: 'span' }) }}
										Время приема врача:
										с 10-00 до 14-00
									</div>
								</div>
							</div>
							<div elem="column" mods="middle">
								<div elem="item-price-title">стоимость</div>
								<div elem="item-price">11 000 <span>₽</span></div>
							</div>
							<div elem="column" mods="last">
								<div elem="item-price-title">по карте “клиент”</div>
								<div elem="item-price">7 000 <span>₽</span></div>
							</div>
							{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#" elem="button" class="_js-feedback btn btn--1">{{ _icon('clipboard-2', { tag: 'span' }) }}Записаться на прием!</a>
	</div>
</div><!-- /c-price-list -->