.c-price-list
	margin-bottom 116px
	background-image linear-gradient(to bottom, #daeaff 0%, #e3d1bb 100%)
	&__in
		padding-top 68px
		padding-bottom 125px
		position relative
	&__title
		margin-bottom 13px		
	&__tab-titles	
		margin-bottom 40px
		display flex
		justify-content center		
	&__tab-head	
		background $colorAccent
		border-radius 35px
		box-shadow 0 4px 8px rgba(87, 86, 90, 0.4)
		color #fff
		display flex
		margin-bottom 10px
		padding 24px 56px 22px
		font-weight 500
		text-transform uppercase
		& ^[0]		
			&__column
				&:first-child
					text-align left
					flex 0 0 475px
					margin-right 14%
				&:last-child
					padding-right 50px
			
	&__column
		flex 1	
		
	&__tab-title
		padding 12px 15px 10px
		min-width 163px
		font-size 14px
		font-weight 500
		text-transform uppercase
		text-align center
		color #57565a
		text-decoration none
		border 1px solid #57565a
		margin-right -1px
		transition all .3s ease
		&:first-child
			border-radius 24px 0 0 24px
		&:last-child
			border-radius 0 24px 24px 0
		&:hover
			background rgba(#57565a, 0.6)
			color #fff
			border-color transparent
		&.is-active
			background #57565a		
			color #fff
	&__tab-content
		display none
		&.is-active
			display block

	&__button
		min-width 232px
		position absolute
		left 50%
		transform translateX(-50%) 
		display flex
		align-items center
		border-radius 30px
		padding-top 12px
		bottom -24px
		.svg-icon
			margin-right 10px
			width 20px
			height 25px
	.c-accordion
		&__item-price-title		
			display none
	@media (max-width  1200px) 	
		&__tab-head 
			& ^[0]
				&__column
					&:first-child
						margin-right 30px
					
		.c-accordion
			&__column
				&--first
					margin-right 30px
	
	@media (max-width  1024px) 	
		&__tab-head
			padding-left 25px	
			padding-right 25px
			& ^[0]
				&__column
					&:first-child
						flex 0 0 468px

		.c-accordion
			&__item
				padding-left 20px
				padding-right 20px
				&:after
					left 20px
					right 20px
		.owl-dots
			left 0		
			right 0
			transform translateX(0) 
			
	@media (max-width  940px) 	
		&__tab-head
			display none
			
		.c-accordion
			&__item
				&:hover
					background none
					box-shadow none
					z-index auto
					&:after
						display block
				&.is-active
					background #fff
					z-index 1
					box-shadow 0 4px 8px rgba(87,86,90,0.4)
					&:after
						display none

				.arrow
					width 25px	
					height 25px
					top 0
				.mark
					top 3px
					
			&__item-price-title		
				display block
				font-weight 500
				color $colorAccent
				margin-bottom 3px
			&__column 
				padding-top 0	
				padding-right 30px
				margin-right 0
				white-space nowrap		
				flex none		
				&--first
					white-space normal	
					flex 0 0 60%
				&--middle
					flex 1
				&--last
					padding-right 42px
					margin-right 0	
					
			&__item-time
				margin-top 20px
		
	@media (max-width  768px) 		
		margin-bottom 80px
		&__in 
			padding-top 30px
			padding-bottom 70px
			
		.c-accordion
			&__item-in
				padding-left 35px
			&__column 	
				padding-right 15px
				&--first 
					flex 0 0 55%
				&--last 
					padding-right 35px
			
	@media (max-width  760px) 				 
		.c-accordion
			&__item
				padding-left 10px
				padding-right 10px
				padding-top 10px
				border-radius 10px
				&:after
					left 10px
					right 10px
			&__item-in
				flex-wrap wrap	
				flex-direction row		
			&__column
				&--first
					flex 0 0 100%
					margin-bottom 25px
					padding-right 35px
				&--middle,
				&--last 
					flex 0 0 50%
				&--last 
					padding-right 0
			&__item-price-title
				font-weight 600
		 
	@media (max-width  420px) 	
		&__tab-title			 
			padding-top 9px
			padding-bottom 7px
			min-width 0
			flex 1
		.c-accordion
			&__item 
				padding-left 7px
				padding-right 7px
				&:after
					left 7px
					right 7px
				.arrow,
				.mark
					width 20px
					height 20px
			&__item-in
				padding-left 28px
			&__column
				&--first 
					padding-right 30px
				&--middle
					flex 0 0 40%
				&--last
					flex 0 0 60%
		