.mobile-panel
    position fixed
    left 0
    top 0
    width 320px
    bototm 0
    background #102a43
    transition all .3s ease
    transform translateX(-100%) 
    display none
    z-index 10   
    &__close
        z-index 5
        display none
        position absolute
        right 0
        top 0
        width 50px
        height 50px
        background $colorPrimary
        border-radius 0 0 0 23px
        box-shadow inset -1px -3px 0 rgba(#000, 0.2), 0 0 20px rgba(#000, 0.4)
        .svg-icon
            width 22px
            height 22px
            position absolute
            left 16px
            top 12px
            fill #fff
    &__content
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        overflow-y auto
        padding-top 25px
        padding-bottom 60px
    &.android    
        bottom auto
    &.opened
        box-shadow 0 2px 20px #000
        transform translateX(0) 
        & ^[0]
            &__close
                display block
                
    .phone
        position relative
        padding 10px 0 10px 48px
        margin-bottom 15px
        &__icon
            position absolute            
            left 12px
            top 50%
            transform translateY(-50%) 
            border 1px solid $colorPrimary
            border-radius 500px
            width 27px
            height 27px
            display flex
            align-items center
            justify-content center
            .svg-icon
                fill $colorPrimary
                width 15px
                height 15px
        &__item 
            font-size 24px
            font-weight 500
            a 
                color #fff
                text-decoration none
                border-bottom 1px dashed $colorPrimary
                span 
                    color $colorPrimary
                        
    .app-header
        
        &__content-bot
            display block            
            padding-top 0
        
        &__login,
        &__search
            display block        

        &__login 
            padding-left 50px
            margin-bottom 10px
            .login
                // margin-right 18px
                margin-right 0
                margin-bottom 4px
                display inline-block
            .svg-icon
                left 12px
                width 25px
                height 25px
                &.colored
                    img 
                        display none
                    svg 
                        display block    
                
                
        &__search
            max-width 100%   
            margin-bottom 25px       
            input
                border-radius 0                
                border-right 0
                padding-left 20px
                border-color $colorPrimary
                height 40px
                padding-top 0
            button
                left auto
                right 0
                border-left 1px solid $colorPrimary
                border-right 1px solid $colorPrimary
                .svg-icon
                    margin 0 0 5px -1px
                    
                
        &__menu
            display block
            > ul
                display block
                > li
                    margin 0
                    border-top 1px solid rgba(#000, 0.20)
                    &:last-child 
                        border-bottom 1px solid rgba(#000, 0.20)  
                                
                    > a 
                        padding 10px 20px
                        font-size 15px
                        text-transform none
                        font-weight 600
                        color $colorPrimary !important
                        .arrow
                            top 0
                            right 0
                            bottom 0
                            width 45px
                            height auto
                            transform translateY(0) 
                            border-left 1px solid rgba(#000, 0.20)
                            &:after
                                border-top-color $colorPrimary
                                position absolute
                                left 40%
                                top 47%
                    ul 
                        padding 8px 20px 10px 30px
                        display none
                        position relative
                        left auto 
                        top auto
                        width auto
                        border-radius 0
                        // background darken($colorPrimary, 50%)
                        background rgba($colorPrimary, 0.9)
                        li 
                            a 
                                color #fff
                                font-weight 300
                                display inline-block
                                font-size 13px
                                padding 4px 0 4px 0
                                &:hover
                                    background none
                                    text-decoration underline
                        
                    &.opened                        
                        > a                           
                            background $colorPrimary
                            color $colorAccent !important
                            .arrow
                                &:after
                                    transform rotate(180deg) 
                                    border-top-color $colorAccent
                                    top 33%
                        ul 
                            display block            

    @media (max-width 1024px) 
        display block
                