<footer block="app-footer" class="{{footerClass}}">
    <div elem="section">
        <div elem="top-line">
            {% include "b-subscribe-to.html" %}
        </div><!-- e:top-line -->

        <div elem="middle-line" class="site-width">
            <div elem="middle-line-left">
                <div elem="info-on-site">
                    <nav elem="menu">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">О центре</a></li>
                            <li><a href="#">Виды центров</a></li>
                            <li><a href="#">Статьи</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav><!-- e:menu -->
                    <div block="search-info">
                        <form elem="form">
                            <div elem="body">
                                <div elem="input">
                                    <input type="text" placeholder="Найти информацию" required>
                                </div><!-- e:input -->
                                <button elem="btn" type="submit">{{ _icon('lupe', { tag: 'i' }) }}</button><!-- e:btn -->
                            </div><!-- e:body-search -->
                        </form><!-- e:form-search -->
                    </div><!-- B:search-info -->
                </div><!-- e:info-on-site -->
                <div elem="social-links">
                    <a elem="sicial-link" href="https://www.facebook.com/">
                        <i elem="social-icon"><img src="img/soc-fb-icon.png" alt=""></i>
                    </a><!-- e:sicial-link -->
                    <a elem="sicial-link" href="https://vk.com/">
                        <i elem="social-icon"><img src="img/soc-vk-icon.png" alt=""></i>
                    </a><!-- e:sicial-link -->
                    <a elem="sicial-link" href="https://www.instagram.com/">
                        <i elem="social-icon"><img src="img/soc-inst-icon.png" alt=""></i>
                    </a><!-- e:sicial-link -->
                    <a elem="sicial-link" href="https://www.youtube.com/">
                        <i elem="social-icon"><img src="img/soc-yt-icon.png" alt=""></i>
                    </a><!-- e:sicial-link -->
                </div><!-- e:social-links -->
            </div><!-- e:middle-line-left -->
            <div elem="middle-line-right">
                <div elem="contacts">
                    <div elem="address">
                        {{ _icon('pin', { tag: 'i' }) }}
                        <span>
                            115035, Россия, Москва,
                            ул. Пятницкая, дом 2-38,
                            строение 3.
                        </span>
                    </div><!-- e:address -->
                    <a elem="email" href="mailto:info@livesystem.ru">
                        {{ _icon('envelope', { tag: 'i' }) }}
                        info@livesystem.ru
                    </a><!-- e:email -->
                </div><!-- e:contacts -->
                <div elem="phones">
                    <a elem="phone" href="tel:+74956603980">
                        {{ _icon('phone', { tag: 'i' }) }}
                        +7 (495) 660-39-80
                    </a><!-- e:phone -->
                    <div elem="schedule">
                        {{ _icon('passage-of-time', { tag: 'i' }) }}
                        <span>
                            Понедельник – Суббота
                            с 9:00 до 18:00
                        </span>
                    </div><!-- e: -->
                </div><!-- e:phones -->
            </div><!-- e:middle-line-right -->
        </div><!-- e:middle-line -->

        <div elem="bot-line">
            <div elem="copy">
                &copy; Живая система - Центр диагностики и интегративного здоровья
            </div><!-- e:copy -->
        </div><!-- e:bot-line -->
    </div><!-- e:section -->
</footer><!-- b:app-footer -->