.app-footer
    flex none

    &__middle-line
        padding-top 45px
        padding-bottom 45px
        display flex
        justify-content space-between

        @media (max-width 1023px)
            flex-wrap wrap
            justify-content center

        @media (max-width 767px)
            padding-top 30px
            padding-bottom 30px

    &__middle-line-left,
    &__middle-line-right
        display flex
        flex 0 0 500px
        width 500px
        max-width 500px
        justify-content space-between

        @media (max-width 1024px)
            justify-content flex-start

        @media (max-width 767px)
            flex 0 0 450px
            width 450px
            max-width 450px

        @media (max-width 479px)
            display block
            width 100%
            max-width 100%

    &__middle-line-right
        font-size 14px
        color #57565a
        font-weight 400
        line-height 26px

        a
            font-size 14px
            color #57565a
            font-weight 400
            line-height 26px

        @media (max-width 1023px)
            margin-top 30px

        @media (max-width 479px)
            margin-top 15px

    &__menu
        width 325px
        max-width 100%
        margin-bottom 20px
        @media (max-width 479px)
            width 100%

        ul
            display flex
            flex-wrap wrap

            @media (max-width 479px)            
                flex-wrap wrap
                justify-content center

            li
                padding-right 15px
                margin-right 15px
                position relative
                @media (max-width 479px)
                    margin-left 10px
                    margin-right 10px
                    padding-right 0
                &:after
                    content '/'
                    position absolute
                    top 0
                    right 0
                    font-size 14px
                    color #235399
                    font-weight 400
                    line-height 26px

                    @media (max-width 479px)
                        display none
                        

                &:last-child
                    &:after
                        display none

                &:nth-child(3n)
                    &:after
                        display none

                a
                    font-size 14px
                    color #57565a
                    font-weight 400
                    line-height 26px
                    text-decoration none
                    &:hover
                        text-decoration underline

                @media (max-width 479px)
                    margin-bottom 10px

    &__social-links
        display flex
        flex-wrap wrap
        justify-content space-between
        flex 0 0 115px
        width 115px
        max-width 115px
        margin-top 10px
        
        @media (max-width 479px) 
            width 100%        
            flex 1
            max-width 100%
            justify-content center

    &__sicial-link
        flex 0 0 44px
        width 44px
        max-width 44px
        height 44px
        display flex
        justify-content center
        align-items center
        border 1px solid #828282
        border-radius 50%
        margin-bottom 20px
        
        @media (max-width 479px)
            margin-left 10px
            margin-right 10px        

    &__social-icon

        img
            max-width 100%
            height auto

    &__contacts
        margin-right 30px

        @media (max-width 479px)
            margin-right 0
            margin-bottom 25px

    &__address
        flex 0 0 215px
        width 215px
        max-width 215px
        display flex
        align-items center
        margin-bottom 2px

        .svg-icon--pin
            fill #235399
            flex 0 0 23px
            width 23px
            max-width 23px
            margin-right 15px
            
        @media (max-width 479px)  
            margin-bottom 25px
            text-align center
            max-width 300px
            width 100%
            flex none 
            flex-direction column
            margin-left auto
            margin-right auto
            .svg-icon
                margin-right 0
                margin-bottom 8px
            

    &__email
        display flex
        align-items center

        .svg-icon--envelope
            fill #235399
            flex 0 0 23px
            width 23px
            max-width 23px
            margin-right 15px

        @media (max-width 479px) 
            flex-direction column
            margin-bottom 35px
            .svg-icon 
                margin-right 0
                margin-bottom 4px
        

    &__phones
        flex 0 0 210px
        width 210px
        max-width 210px
        @media (max-width 479px) 
            margin-left auto        
            margin-right auto
                   

    &__phone
        font-weight 500 !important
        text-decoration none
        display flex
        align-items center
        border 1px solid #205098
        border-radius 25px
        padding 8px 20px
        margin-bottom 25px
        
        @media (max-width 479px) 
            margin-bottom 35px

        .svg-icon
            &--phone
                fill #235399
                flex 0 0 23px
                width 23px
                max-width 23px
                margin-right 10px

    &__schedule
        font-weight 500
        display flex
        align-items center

        .svg-icon--passage-of-time
            fill #235399
            flex 0 0 23px
            width 23px
            max-width 23px
            margin-right 10px
            
        @media (max-width 479px)     
            text-align center
            flex-direction column
            .svg-icon 
                margin-right 0
                margin-bottom 4px

    &__bot-line
        font-size 14px
        color #57565a
        font-weight 400
        line-height 26px
        text-align center
        padding 5px 0
        background-color #d1d1d1

.search-info
    width 255px
    max-width 255px

    @media (max-width 479px)
        margin-bottom 25px
        margin-left auto
        margin-right auto

    &__body
        width 100%
        display flex
        align-items center
        justify-content space-between
        border 1px solid #235399
        border-radius 25px
        padding 0 20px

        input
            width 100%
            border none
            padding 10px 0

        &::placeholder
            color #57565a

    &__btn
        padding-top 0
        border none
        background-color transparent
        padding 0
        margin-top -4px

        .svg-icon--lupe
            fill #235399
            flex 0 0 17px
            width 17px
            max-width 17px
   
        