.b-list
	display flex
	justify-content space-between
	flex-wrap wrap
	&__item 
		width 47.667%
		display flex
		align-items flex-start
		margin-bottom 48px
	&__item-image
		flex 0 0 88px
		margin-right  56px
		text-align center
	&__item-title	
		font-size 18px
		margin-bottom 3px
		font-weight 600
	&__item-desc	
		margin-bottom 30px
		text-align justify
	&__item-list		
		padding 0 0 0 20px	
		margin 0
		list-style none	
		li
			margin-bottom 4px
			padding-left 12px
			position relative			
			&:after
				content ""
				position absolute
				left 0
				top 8px
				border 1px solid $colorAccent
				width 7px
				height 8px
				border-radius 10px
		a 
			color $colorAccent
	
	@media (max-width 1024px) 	
		&__item-image
			margin-right 20px
			flex 0 0 68px
			
	@media (max-width 940px) 	
		display block
		&__item
			width auto
			
		&__item-image
			flex 0 0 88px	
		
	@media (max-width 480px) 	
		&__item
			display block
			text-align center
			margin-bottom 50px
		&__item-image
			width 76px
			margin 0 auto 15px
		&__item-desc	
			text-align center
			margin-bottom 15px
		&__item-list
			padding-left 0
			li 
				padding-left 0
				margin-bottom 7px
				&:last-child
					margin-bottom 0
				&:after
					display none
					
					position static