<div block="b-list" class="site-width">
	<div elem="item">
		<div elem="item-image">
			<img src="img/brain.svg" alt="">
		</div>
		<div elem="item-container">
			<div elem="item-title">Центр диагностики</div>
			<div elem="item-desc">
				Биологическая функция мозга человека, позволяющая индивиду получать некоторое представление об окружающем мире, включая самого себя.
			</div>
			<ul elem="item-list">
				<li><a href="#">Услуга номер 1</a></li>
				<li><a href="#">Услуга номер 2</a></li>
				<li><a href="#">Услуга номер 3</a></li>
				<li><a href="#">Услуга номер 4</a></li>
			</ul>
		</div>
	</div>
	<div elem="item">
		<div elem="item-image">
			<img src="img/bowl.png" alt="">
		</div>
		<div elem="item-container">
			<div elem="item-title">Центр мульти системного детокса</div>
			<div elem="item-desc">
				Биологическая функция мозга человека, позволяющая индивиду получать некоторое представление об окружающем мире, включая самого себя.
			</div>
			<ul elem="item-list">
				<li><a href="#">Услуга номер 1</a></li>
				<li><a href="#">Услуга номер 2</a></li>
				<li><a href="#">Услуга номер 3</a></li>
				<li><a href="#">Услуга номер 4</a></li>
			</ul>
		</div>
	</div>
	<div elem="item">
		<div elem="item-image">
			<img src="img/man.png" alt="">
		</div>
		<div elem="item-container">
			<div elem="item-title">Центр активного долголетия</div>
			<div elem="item-desc">
				Биологическая функция мозга человека, позволяющая индивиду получать некоторое представление об окружающем мире, включая самого себя.
			</div>
			<ul elem="item-list">
				<li><a href="#">Услуга номер 1</a></li>
				<li><a href="#">Услуга номер 2</a></li>
				<li><a href="#">Услуга номер 3</a></li>
				<li><a href="#">Услуга номер 4</a></li>
			</ul>
		</div>
	</div>
	<div elem="item">
		<div elem="item-image">
			<img src="img/meditation.svg" alt="">
		</div>
		<div elem="item-container">
			<div elem="item-title">Центр здорового сна</div>
			<div elem="item-desc">
				Биологическая функция мозга человека, позволяющая индивиду получать некоторое представление об окружающем мире, включая самого себя.
			</div>
			<ul elem="item-list">
				<li><a href="#">Услуга номер 1</a></li>
				<li><a href="#">Услуга номер 2</a></li>
				<li><a href="#">Услуга номер 3</a></li>
				<li><a href="#">Услуга номер 4</a></li>
			</ul>
		</div>
	</div>
	<div elem="item">
		<div elem="item-image">
			<img src="img/puppet-show2.png" alt="">
		</div>
		<div elem="item-container">
			<div elem="item-title">Центр управления привычками</div>
			<div elem="item-desc">
				Биологическая функция мозга человека, позволяющая индивиду получать некоторое представление об окружающем мире, включая самого себя.
			</div>
			<ul elem="item-list">
				<li><a href="#">Услуга номер 1</a></li>
				<li><a href="#">Услуга номер 2</a></li>
				<li><a href="#">Услуга номер 3</a></li>
				<li><a href="#">Услуга номер 4</a></li>
			</ul>
		</div>
	</div>

</div><!-- /b-list -->