<div class="remodal feedback" data-remodal-id="feddbackModal" data-remodal-options="hashTracking: true, closeOnOutsideClick: true">
    <div data-remodal-action="close" class="remodal-close"></div>
    <div class="remodal-content">
    	<form action="#" block="b-form">
            <div elem="title">Обратиться к нам</div>
    		<div elem="content">
    			<div elem="item">
    				<input type="text" placeholder="Ваше ФИО" required>
    			</div>
    			<div elem="item">
    				<input type="tel" placeholder="Номер телефона" required>
    			</div>
                <div elem="item">
                    <input type="text" placeholder="Ваш e-mail" required>
                </div>
    			<div elem="item">
                    {% set checkboxMod = "radio" %}
                    {% set checked = true %}
                    {% include 'checkbox.html' %}
                    <span>Разрешить обработку персональных данных</span>
    			</div>
    			<div elem="button">
    				<button class="btn btn--1" type="submit">Отправить запрос</button>
    			</div>
    		</div>
    	</form>
    </div>
</div>