.remodal-close
	transition all .3s ease
	svg 
		transition all .3s ease
	&:hover
		background $colorPrimary
		border-color $colorPrimary
		svg 
			fill #102a43

.remodal
	&.feedback
		background #fff url('../img/fedback-bg.png') center 20px no-repeat		
	&.authorization	
		background #fff url('../img/user.svg') center 20px no-repeat		
		background-size 80px 80px
.remodal
	.b-form
		margin-top 25px		
		&__title
			text-align center
			margin-bottom 45px
		&__item
			a 
				color $colorAccent	
				font-size 14px
				font-weight 500
		&__button	
			text-align center

@media (max-width 768px) 
	.remodal-wrapper
		padding-top 14px 10px 10px
		.remodal-close
			border-color $colorPrimary	
			left auto
			top -12px
			right -12px
			transform translateX(0) 
			background #fff
			width 37px
			height 37px
			svg
				width 16px
				height 16px
				fill $colorPrimary				
				
		.remodal
			padding-left 20px
			padding-right 20px
			width 100%
			max-width 292px
