<div class="remodal authorization" data-remodal-id="authorizationModal" data-remodal-options="hashTracking: true, closeOnOutsideClick: true">
    <div data-remodal-action="close" class="remodal-close"></div>
    <div class="remodal-content">
    	<form action="#" block="b-form">
            <div elem="title">Личный кабинет</div>
    		<div elem="content">
    			<div elem="item">
    				<input type="text" placeholder="Логин" required>
    			</div>
    			<div elem="item">
    				<input type="password" placeholder="Пароль" required>
    			</div>
                <div elem="item">
                    <a href="#">Забыли свой пароль?</a>
                </div>
    			<div elem="button">
    				<button class="btn btn--1" type="submit">Войти</button>
    			</div>
    		</div>
    	</form>
    </div>
</div>