.b-checklist
    margin-top 30px
    &__title
        color $colorAccent
        font-weight 600
        margin-bottom 7px
    &__items    
        padding 0 0 0 6px
        margin 0
        list-style none
        li 
            padding-left 25px
            position relative
            margin-bottom 3px
            &:last-child 
                margin-bottom 0
            .svg-icon
                position absolute
                left 0
                top 50%
                width 16px
                height 16px
                margin-top -8px
                fill $colorAccent