<div block="b-checklist">
	<div elem="title">Преимущества диагностики:</div>
	<ul elem="items">
		<li>{{ _icon('correct', { tag: 'span' }) }} безопасность;</li>
		<li>{{ _icon('correct', { tag: 'span' }) }} высокая информативность;</li>
		<li>{{ _icon('correct', { tag: 'span' }) }} способность диагностировать патологии на самых ранних стадиях развития;</li>
		<li>{{ _icon('correct', { tag: 'span' }) }} возможность проводить динамическое наблюдение за состоянием пациента.</li>
	</ul>
</div>