.checkbox
	display inline-block
	vertical-align middle
	position relative
	width 20px
	height 20px
	margin-right 8px
	input
		width 100%
		height 100%
		padding 0
		border 0
		position absolute
		z-index 1
		opacity 0
		cursor pointer
	span 
		position absolute	
		left 0
		top 0
		right 0
		bottom 0
		border 1px solid $colorAccent
		border-radius 3px
		&:after
			display none
			content ""
			position absolute
			left 23%
			top 28%
			// transform translate(-50%, -50%) 
			width 12px
			height 7px
			border-left 2px solid $colorAccent
			border-bottom 2px solid $colorAccent
			transform rotate(-45deg) 
			
	input:checked + span
		&:after
			display block
			
	&--radio
		width 26px	
		height 26px
		span 
			border-radius 500px
			&:after
				left 29%
				top 29%