.b-info
    background #ececec
    position relative
    overflow hidden
    &:before
        content ""
        position absolute
        left 0
        top 0
        bottom 0
        width 50%
        background #daeaff
    &__content
        position relative           
        display flex

    &__text     
        flex 1
        position relative
    &__text-in
        position relative
        z-index 1
        background #daeaff
        padding 50px 57px 50px 0
        p:last-child 
            margin-bottom 0
    &__container        
        flex 0 0 336px
        padding 220px 0 56px
        display flex
        justify-content flex-end
        align-items flex-end
        position relative
    &__link
        padding-left 35px   
        padding-right 35px          
    &__pic  
        position absolute
        &--1
            right -220px
            top 0
            width 220px
            height 204px
            overflow hidden
            .svg-icon
                // width 385px
                // height 385px
                width 407px
                height 365px
                position absolute
                right 20px
                bottom 40px
                fill $colorAccent           
                animation-name: spin
                animation-duration: 110000ms
                animation-iteration-count: infinite
                animation-timing-function: linear   
        &--2
            top 28px
            left 100%
                
            .svg-icon
                fill #828282
                &--stethoscope
                    width 168px
                    height 160px
                &--hand-shake   
                    width 144px
                    height 90px
                &--hospital,
                &--virus,                   
                &--doctor,
                &--map-of-roads                 
                    width 133px
                    height 132px
                &--doctor
                    fill $colorAccent                   
                    
        &--hand-shake
            top 98px
            
        &--hospital,    
        &--virus,
        &--doctor,  
        &--map-of-roads                 
            right 0
            left auto
            top auto
            bottom 65px         
    
    &__item
        position relative
        margin-bottom 30px
        display flex
        align-items center
        a 
            color #57565a
            
    &__item-icon
        text-align center
        flex 0 0 22px
        margin-right 10px   
        .svg-icon
            fill $colorAccent
            &--pin 
                width 21px
                height 26px
                margin-bottom 3px
            &--envelope 
                width 24px  
                height 18px
                margin-bottom 2px
    
    &__phones-and-socials
        display flex
        justify-content space-between
        align-items flex-end
        max-width 588px

    &__phones-title         
        color $colorAccent
        font-weight 600
        margin-bottom 2px
        
        
    &__phones-item
        font-weight 500
        a 
            text-decoration none
            color #57565a
        
    &__socials  
        margin-bottom 6px       
        display flex
        a           
            width 44px
            height 44px
            border 1px solid $colorAccent
            border-radius 500px
            margin-left 20px                
            display flex
            justify-content center
            align-items center

    &.mb
        margin-bottom 68px
        
    &.white 
        background #fff
    &.blue
        background #daeaff
        &:before
            background #ececec  
        & ^[0]  
            &__text-in 
                background #ececec
    
    &--main
        & ^[0]
            &__content
                display none
                &.active-item
                    display flex

    &.gray-content
        &:before
            background #ececec
        & ^[0]  
            &__text-in 
                background #ececec
            
    &--type-2
        position relative
        overflow visible
        background none
        &.mb 
            margin-bottom 40px
        & ^[0]
            &__text-in
                position relative
            &__pic
                &--1
                    overflow visible
                    z-index 1
                &--2
                    display none
            &__link 
                display none
            &__container
                padding 0   
                                    
    @media (max-width 1550px)
        &__pic
            &--2
                left 80% 
            &--hospital,
            &--virus,
            &--doctor,
            &--map-of-roads
                left auto           
                    
    @media (max-width 1024px)   
        &__text-in
            padding-right 30px
            padding-top 30px
            padding-bottom 30px
        &__container    
            padding-bottom 30px
            padding-left 20px
            justify-content center
            flex 0 0 285px
        &__pic
            &--1
                .svg-icon   
                    width 200px
                    height 200px
                    right 60px
                    bottom 50px
            &--2
                top 40%
                left 73%
                transform translate(-50%, -50%)                 
                .svg-icon
                    width 140px
                    height 140px

    @media (max-width 768px)    
        overflow visible
        &:after,
        &:before
            display none
        &__content
            display block
            padding-left 0
            padding-right 0
            
        &__text-in
            padding-left 20px   
            padding-right 20px  
        &__container    
            padding-top 164px
            padding-right 20px
        &__pic 
            &--1
                right auto
                top auto
                bottom -184px
            &--2    
                top 33%
            &--hospital,    
            &--virus,
            &--doctor,
            &--map-of-roads 
                left 67%
        &.mb 
            margin-bottom 40px      
        &--type-2       
            & ^[0]
                &__pic
                    &--1
                        z-index 0
                        opacity 0.9
                        .svg-icon
                            fill #ececec
        &--main 
            & ^[0]
                &__content
                    &.active-item
                        display block
                        
    @media (max-width 480px)    
        &__text-in
            padding-left 10px
            padding-right 10px
        &__content 
            &.site-width
                padding-left 0
                padding-right 0
                
        &__phones-and-socials       
            display block
        &__phones
            margin-bottom 30px      
    
        &__socials
            a 
                margin-left 0
                margin-right 20px

    @media (max-width 400px)    
        &__content
            padding-left 0
            padding-right 0
            
        &__text-in,
        &__container
            padding-left 10px   
            padding-right 10px  