<div block="b-info" mods="{{bInfoMods}}">
	<div elem="content" class="site-width">
		<div elem="text">
			<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
			<div elem="text-in">
				<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

				<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
			</div>
		</div>
		<div elem="container">
			<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
			<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
		</div>
	</div>	
</div><!-- /b-info -->