.pagination
	font-size 0
	text-align center
	margin-bottom 62px
	&__item
		display inline-block
		margin 0 3px 6px
		color #000
		width 36px
		height 36px
		line-height 36px
		text-align center
		border-radius 500px
		font-size 14px
		text-decoration none
		&:hover,
		&.is-active
			color #fff
			background $colorAccent
			
	@media (max-width 768px) 		
		margin-bottom 32px