<div block="pagination">
	<a elem="item" href="#" class="is-active">1</a>
	<a elem="item" href="#">2</a>
	<a elem="item" href="#">3</a>
	<a elem="item" href="#">4</a>
	<a elem="item" href="#">5</a>
</div><!-- /pagination -->