.personal-cabinet
	display flex
	align-items flex-start
	margin-bottom 116px
	&__container
		position relative
		margin-right 56px
		padding-top 65px
		padding-right 44px
		padding-bottom 68px
		min-width 418px
		flex 0 0 47.667%
		&:after
			content ""
			position absolute
			left -10000px
			top 0
			bottom 0
			right 0
			z-index -1
			background #ececec
	.b-crumbs		
		margin-bottom 65px
	
	&__row
		display flex
		justify-content space-between
		align-items center
		margin-bottom 37px	
		
	&__sign-out	
		color $colorAccent
		font-size 16px
		
	&__settings	
		&:hover
			.svg-icon
				fill $colorAccent
				stroke $colorAccent
		.svg-icon
			width 32px
			height 32px
			fill #57565a
			
	&__user-info		
		display flex
		align-items center
		
	&__avatar	
		margin-right 32px
		width 144px
		height 144px
		border-radius 500px 
		border 1px solid $colorPrimary
		box-shadow 0 0 20px rgba(0, 0, 0, 0.27)
		img 
			width 100%
	&__name
		font-size 18px
		font-weight 600
		margin-bottom 22px
		span 
			display block
			color $colorAccent
	&__phone		
		font-size 16px
		font-weight 500
		a 
			text-decoration none
			color #57565a
		span 
			color $colorAccent
			
	&__history		
		padding 147px 0 0 0
		flex 1
		
	&__title 
		color $colorAccent
		font-size 24px	
		font-weight 700
		text-transform uppercase
		line-height 34px
		margin-bottom 40px
	&__history-head	
		color #fff
		background $colorAccent
		border-radius 31px
		margin-bottom 5px
		font-size 14px
		font-weight 500
		text-transform uppercase
		padding 21px 30px 17px
		span
			display inline-block
			&.first
				margin-right 188px
	
	.c-accordion	
		&__item
			padding 25px 23px 24px 31px
			&:after
				left 0
				right 0
			.arrow	
				right 20px
				top 22px
				width 28px
				height 28px
				fill #57565a
			&:hover	
				&:after
					bottom auto
					top 0
					background #fff
			&.is-active
				margin-bottom 3px
				&:after
					display block
					bottom auto
					top 0
					background #fff
				.c-accordion__item-desc
					display block
				.arrow		
					fill $colorAccent
				+ 
					.c-accordion__item 	
						&:hover
							&:after
								display none

		&__item-title
			display flex
			align-items center
			padding-right 35px
			font-size 14px
			font-weight 600
			margin-bottom 0
			span
				display block
				width 260px
		&__item-date
			color #57565a
			margin-left 15px					
		&__item-desc
			padding-top 8px
			display none
	
	@media (max-width 1200px) 		
		&__container
			margin-right 30px
			
	@media (max-width 1024px) 		
		&__container
			padding-top 30px
			padding-right 30px
			padding-bottom 40px
			min-width 400px
			flex none
		.b-crumbs	
			margin-bottom 20px
		&__avatar	
			width 100px
			height 100px
			margin-right 20px
		
		&__history
			padding-top 80px
		&__title	
			font-size 18px
			line-height 28px	
			
	@media (max-width 940px)
		display block
		margin-bottom 40px
		&__container
			margin-right 0	
			text-align center
			padding-right 0
			min-width 0
			&:after
				right -20px
				
		&__avatar		
			width 144px
			height 144px
			margin 0 auto 30px
		&__user-info	
			display block
		&__row	
			max-width 300px
			margin 0 auto 30px
			
		.b-crumbs 
			text-align left	
			margin-bottom 50px
		&__history 
			padding-top 40px 	
		&__title 
			margin-bottom 20px		
			
		&__history-head 
			span.first
				width 50%
				margin-right 0px
			
		.c-accordion
			&__item-title	
				span 
					width 50%
					
	@media (max-width 760px)
		&__history-head 
			display flex
			justify-content space-between
			span:not(.first)
				width 148px
		.c-accordion
			&__item-title 
				padding-right 45px
				justify-content space-between
				span
					width auto
		
	@media (max-width 580px)
		&__history-head 
			display none
		.c-accordion
			&__item	
				padding-left 15px
				padding-top 15px
				padding-right 15px
				padding-bottom 15px
				
				.arrow
					width 22px
					height 22px
					top 16px
					right 15px
		
			&__item-title	
				padding-right 31px
				
	@media (max-width 480px)
		&__container
			
			&:after
				right -10px
				
		.c-accordion		
			&__item
				padding-top 12px
				padding-bottom 10px
				border-radius 10px	
				margin-bottom 5px	
				margin-top 0
				border 1px solid rgba(#57565a, 0.3)
				&:after
					display none
				.arrow	
					top 25px
				&.is-active	
					box-shadow 0 2px 8px rgba(87,86,90,0.5)
					margin-bottom 5px
					border-color $colorAccent
					background #f3f8ff
					&:after
						display none
			&__item-title
				display block
			&__item-date
				margin-left 0
			&__item-date
				font-size 12px	
				