<div block="personal-cabinet" class="site-width">
	<div elem="container">
		{% include 'b-crumbs.html' %}
		<div elem="row">
			<a href="#" elem="sign-out">Выйти из кабинета</a>
			<a href="#" elem="settings">{{ _icon('cogwheel-outline', { tag: 'span' }) }}</a>
		</div>
		<div elem="user-info">
			<div elem="avatar"><img src="img/antoshka.png" alt=""></div>
			<div elem="cntainer">
				<div elem="name">
					<span>Мымрин</span>
					Андрей Николаевич
				</div>
				<div elem="phone"><a href="tel:+7 (905) 753-96-42">+7 <span>(905)</span> 753-96-42</a></div>
			</div>
		</div>
	</div>
	<div elem="history">
		<div elem="title">История <br> записи к врачу</div>
		<div elem="history-head"><span class="first">название</span> <span>дата</span></div>
		<div block="c-accordion">
			<div elem="item" class="is-active">
				<div elem="item-title"><span>Ультразвуковое исследование</span> <div elem="item-date">26 августа 2019</div></div>
				<div elem="item-desc">
					Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
				</div>
				{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
			</div>
			<div elem="item">
				<div elem="item-title"><span>Реоэнцефалография (РЭГ)</span> <div elem="item-date">26 августа 2019</div></div>
				<div elem="item-desc">
					Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
				</div>
				{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
			</div>
			<div elem="item">
				<div elem="item-title"><span>ЭЭГ, ЭНМГ</span> <div elem="item-date">26 августа 2019</div></div>
				<div elem="item-desc">
					Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
				</div>
				{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
			</div>
			<div elem="item">
				<div elem="item-title"><span>Реоэнцефалография (РЭГ)</span> <div elem="item-date">26 августа 2019</div></div>
				<div elem="item-desc">
					Эндоскопия  в  переводе  с греческого означает   «endon» - внутри, «scopeo» - исследую.   Эндоскопия  -  способ  осмотра некоторых внутренних органов при помощи эндоскопа, который представляет  собой длинную эластичную трубку, оснащенную осветительным устройством и камерой. Изображение,  получаемое   в   процессе   исследования,  можно   просматривать непосредственно   в  камере или выводить на монитор или телевизионный экран.
				</div>
				{{ _icon('right-arrow-2', { tag: 'span', class: 'arrow'}) }}
			</div>
		</div>
	</div>
</div><!-- /personal-cabinet -->