.b-subscribe-to

    &__items
        display flex

        @media (max-width 767px)
            display block

    &__item
        display flex
        align-items center
        flex 0 0 50%
        padding 30px 20px

        &--desc
            position relative
            justify-content flex-end
            padding-right 60px
            background url('../img/helix-half-pic.png') 15% 0 no-repeat, #daeaff

            .svg-icon--envelope
                flex 0 0 56px
                width 56px
                max-width 56px
                height 56px
                fill #235399
                margin-right 22px

            &:after
                content ''
                position absolute
                right -44px
                bottom -44px
                width 88px
                height 88px
                background url('../img/helix-blue-sub-pic.png') 0 0 no-repeat
                background-size auto
                animation-name: spin
                animation-duration: 50000ms
                animation-iteration-count: infinite
                animation-timing-function: linear 
                
                @media (max-width 767px)
                    display none

            @media (max-width 1024px)
                padding-right 30px

            @media (max-width 767px)
                padding-right 20px
                justify-content center


        &--form
            padding-left 100px
            background url('../img/helix-half-pic.png') 65% 0 no-repeat, url('../img/helix-half-pic2.png') 90% 100% no-repeat, #d1d1d1

            @media (max-width 1024px)
                padding-left 50px

            @media (max-width 767px)
                padding-left 20px
                justify-content center

    &__text
        font-size 14px
        color #57565a
        font-weight 400
        line-height 26px
        width 465px
        max-width 100%

    &__body
        display flex

        @media (max-width 479px)
            display block

    &__input
        flex 0 0 285px
        width 285px
        max-width 285px

        @media (max-width 479px)
            width 300px
            max-width 100%
            margin-bottom 15px
            text-align center

        input
            font-size 14px
            font-weight 400
            line-height 24px
            height 44px
            border 1px solid #c2c1c7
            border-radius 25px
            width 100%
            padding 10px 36px 10px 20px

            @media (max-width 479px)
                padding-right 20px

        &::placeholder
            color #57565a

        @media (max-width 959px)
            flex 0 0 210px
            width 210px
            max-width 210px

        @media (max-width 767px)
            flex 0 0 280px
            width 280px
            max-width 280px


    &__btn
        font-size 14px
        color #ffffff
        font-weight 500
        line-height 24px
        text-align center
        border none
        border-radius 25px
        background-color #235399
        margin-left -35px
        padding 10px 30px
        transition background-color .3s
        position relative
        &:hover
            background-color lighten(#235399, 10%)
        &:active
            background-color darken(#235399, 10%)

        @media (max-width 959px)
            padding-right 20px
            padding-left 20px

        @media (max-width 479px)
            margin-left 0
            width 100%