<form block="b-subscribe-to" action="#">
    <div elem="section">
        <div elem="items">
            <div elem="item" mods="desc">
                <icon name="envelope" tag="i">
                <div elem="text">
                    Что бы быть всегда в курсе всех новых мероприятий, новостей,
                    статей, то подпишитесь на рассылку «Живая система»
                </div><!-- e:text -->
            </div><!-- e:item -->
            <div elem="item" mods="form">
                <div elem="form">
                    <div elem="body">
                        <div elem="input">
                            <input type="text" placeholder="Введите ваш e-mail" required>
                        </div><!-- e:input -->
                        <button elem="btn" type="submit">Подписаться</button><!-- e:btn -->
                    </div><!-- e:body -->
                </div><!-- e:form -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</form><!-- b:b-subscribe-to -->