= yaml =
pageTitle: О центре
siteName: 
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set headerText = centerPage %}
{% set headerPic = headerPic4 %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" class="mb white">
		<div elem="content" class="site-width">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					{% include 'b-crumbs.html' %}
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2 hospital">{{ _icon('hospital', { tag: 'span' }) }}</div>
			</div>
		</div>	
	</div><!-- /b-info -->
	<div block="content" class="site-width">
		{% include 'b-person.html' %}
		<div block="video" class="right">
			<iframe width="640" height="315" src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen="">
			</iframe>
		</div><!-- /video -->
		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>

		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

		<br>
		
	</div><!-- /content -->

	<div block="b-doctors" class="mb-1">
	    <div elem="inner">
	        <div elem="section" class="site-width">
	            <div elem="head">
	                <div elem="sub-title">Самые самые</div>
	                <div elem="title">Доктора</div>
	            </div>
	            <div elem="items" class="owl-carousel js-doctors-slider">

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Грегори Хаус</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
	                            <a elem="name" href="#">Березнев Антон Васильевич</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
	                            <a elem="name" href="#">Березнев Антон Васильевич</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>
	                
	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>
	                
	            </div>
	        </div>
	    </div>
	</div><!-- b-doctors -->
	{% set cFeedbackClass = 'site-width' %}
	{% include 'c-feedback.html' %}

{% endblock %}

{% block afterContentBlock %}
{% endblock %}