= yaml =
pageTitle: Контакты
siteName: 
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set headerText = contactsPage %}
{% set headerPic = headerPic7 %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" class="white gray-content">
		<div elem="content" class="site-width">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					{% include 'b-crumbs.html' %}

					<div elem="item">
						<div elem="item-icon">{{ _icon('pin', { tag: 'span' }) }}</div>
						115035, Россия, Москва, ул. Пятницкая, дом 2-38, строение 3.
					</div>
					<div elem="item">
						<div elem="item-icon">{{ _icon('envelope', { tag: 'span' }) }}</div>
						<a href="mailto:info@livesystem.ru">info@livesystem.ru</a>
					</div>
					<div elem="phones-and-socials">
						<div elem="phones">
							<div elem="phones-title">Дополнительные номера:</div>
							<div elem="phones-item"><a href="tel:+7 495 739-70-00">+7 495 739-70-00</a></div>
							<div elem="phones-item"><a href="tel:8 800 250-96-39">8 800 250-96-39</a></div>
						</div>
						<div elem="socials">
							<a href="#"><img src="img/fb-b.png" alt=""></a>
							<a href="#"><img src="img/vk-b.png" alt=""></a>
							<a href="#"><img src="img/insta-b.png" alt=""></a>
							<a href="#"><img src="img/yt-b.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2 map-of-roads">{{ _icon('map-of-roads', { tag: 'span' }) }}</div>
			</div>
		</div>	
	</div><!-- /b-info -->
	{% include 'b-map.html' %}

{% endblock %}

{% block afterContentBlock %}
{% endblock %}