= yaml =
pageTitle: Marmelad
siteName: Site-Name
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: true
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set footerClass = 'op-bl' %}
{% set footerClass2 = 'scale' %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" mods="main" class="op-bl">
		<div elem="content" class="active-item scale site-width" data-tab-index="1">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="2">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="3">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="4">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="5">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="6">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="7">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
		<div elem="content" class="site-width" data-tab-index="8">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
	</div><!-- /b-info -->
	{% include 'b-about.html' %}

	{% set doctorsClass = 'op-bl' %}
	{% set doctorsClass2 = 'scale' %}
	{% include 'b-doctors.html' %}

	{% set sertificatesClass = 'op-bl' %}
	{% set sertificatesClass2 = 'scale' %}
	{% include 'b-sertificates.html' %}
	
{% endblock %}

{% block afterContentBlock %}
{% endblock %}