= yaml =
pageTitle: Концепции
siteName: 
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set headerText = konceptPage %}
{% set headerPic = headerPic5 %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" class="mb white">
		<div elem="content" class="site-width">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					{% include 'b-crumbs.html' %}
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2 virus">{{ _icon('virus', { tag: 'span' }) }}</div>
			</div>
		</div>	
	</div><!-- /b-info -->
	<div block="content" class="site-width">
		<img class="c-image left" src="img/c-pic1.jpg" alt="">

		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем. </p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств.</p>

		<br>
		<br>

		<img class="c-image right" src="img/c-pic2.jpg" alt="">
		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
		<div class="clear"></div>
		<br>
		<br>
		<br>
	</div><!-- /content -->

	<div block="b-about" mods="type-2" style="background: url(img/b-about-bg3.jpg) center center no-repeat; background-size: cover;">
		<div elem="items">
			<div elem="items-in" class="site-width">
				<div elem="item">
					<div elem="item-icon">10</div>
					<div elem="item-title">10 лет <br> практики</div>
				</div>
				<div elem="item">
					<div elem="item-icon">{{ _icon('doctor', { tag: 'span' }) }}</div>
					<div elem="item-title">Квалифицированные <br> специалисты</div>
				</div>
				<div elem="item">
					<div elem="item-icon">{{ _icon('virus', { tag: 'span' }) }}</div>
					<div elem="item-title">Профессиональное <br> оборудование</div>
				</div>
				<div elem="item">
					<div elem="item-icon">{{ _icon('maternity', { tag: 'span' }) }}</div>
					<div elem="item-title">Забота о каждом <br> пациенте</div>
				</div>
			</div>
		</div>
	</div><!-- /b-about -->

	<div block="content" class="site-width">
		<div class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>Это будет полезно</span></div>

		{% include 'b-videos.html' %}

		<img class="c-image left" src="img/c-pic3.jpg" alt="">
		
		<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем. </p>

		<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств.</p>

	</div><!-- /content -->

{% endblock %}

{% block afterContentBlock %}
{% endblock %}