= yaml =
pageTitle: Наши направления
siteName: 
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set headerText = napravPage %}
{% set headerPic = headerPic6 %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" class="mb blue">
		<div elem="content" class="site-width">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					{% include 'b-crumbs.html' %}
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2 doctor">{{ _icon('doctor', { tag: 'span' }) }}</div>
			</div>
		</div>	
	</div><!-- /b-info -->

	{% include 'b-list.html' %}	
	{% include 'b-sertificates.html' %}
{% endblock %}

{% block afterContentBlock %}
{% endblock %}