= yaml =
pageTitle: Партнеры
siteName: 
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set headerText = partnersPage %}
{% set headerPic = headerPic3 %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" class="mb">
		<div elem="content" class="site-width">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					{% include 'b-crumbs.html' %}
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму. Это живое создание со своими клетками, обменом веществ и нервной системой. К примеру, армия действует аналогично иммунной системе, защищая организм от вторжений извне, тогда как правительство работает подобно мозгу, принимая решения и управляя. Эта мысль была впервые озвучена ещё в античности греческим философом Аристотелем.</p>
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2 hand-shake">{{ _icon('hand-shake', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Стать партнером</a>
			</div>
		</div>	
	</div><!-- /b-info -->
	{% include 'b-partners.html' %}
	{% include 'pagination.html' %}
	<div block="b-about" style="background: url(img/b-about-bg2.jpg) center center no-repeat; background-size: cover;">
		<div elem="content" class="site-width">
			<div elem="title" class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>О нашем центре</span></div>
			<div elem="text-container">
				<div elem="text">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму.</p>

					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>
				</div>
				<div elem="text">
					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>

					<p>В науке существует мнение, что система, состоящая из живых людей, как например экономическая или социальная, обладает рядом качеств, делающих её подобной живому организму.</p>

					<p>Живая система — единство, состоящее из самоорганизующихся, самовоспроизводящихся элементов, активно взаимодействующих с окружающей средой, имеющее специфические признаки, присущие живым существам.</p>
				</div>
			</div>
		</div>
	</div><!-- /b-about -->	
{% endblock %}

{% block afterContentBlock %}
{% endblock %}