= yaml =
pageTitle: Регистрация
siteName: 
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
mainPage: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set headerText = registrationPage %}
{% set headerPic = headerPic2 %}

{% extends 'app.html' %}
{% set contentSiteWidthClass = true %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	{% include 'b-crumbs.html' %}
	{% include 'c-registration.html' %}	

	<div class="block-title2">Общие условия</div>

	<p>1.1. Настоящее Соглашение является юридически обязательным соглашением между Пользователем и Администрацией Сайта, предметом которого является предоставление Администрацией Сайта Пользователю права использования Сайта и его Сервисов.
		1.2. Настоящее Соглашение является публичной офертой в соответствии со ст. 437 Гражданского кодекса РФ. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем условий настоящего Соглашения и обязанности их соблюдения в соответствии со ст. 438 Гражданского кодекса РФ. Получая доступ к Материалам и Сервисам Сайта, Пользователь считается присоединившимся к настоящему Соглашению.</p>

	<p>2.1. Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящим Соглашением порядком, и достигшее возраста 18 лет.
		2.2. Регистрация Пользователя на Сайте является бесплатной и добровольной.
		2.3. Количество и разновидности Сервисов, право использования которых предоставляется Пользователю, зависит от регистрации, которую проходит Пользователь. На Сайте возможна регистрация в качестве Пользователя (минимальная регистрация) и в качестве Блогера.
		2.4. При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию для создания своей Учетной записи и Личного кабинета. Пользователя, включая уникальные для каждого Пользователя логин (адрес электронной почты) и пароль доступа к Сайту, а также фамилию и имя, либо избранный Пользователем «никнейм».
		2.5. После предоставления информации, указанной в п. 3.4. настоящего Соглашения, Пользователю необходимо пройти процедуру подтверждения регистрации на Сайте путем распознания автоматизированного теста, предназначенного для различия компьютеров и людей («капчи») и подтверждения регистрации путем активации Учетной записи через ссылку в сообщении, отправленном Администрацией Сайта на электронную почту Пользователя. В случае верного последовательного выполнения данных регистрационных действий на Сайте создается Учетная запись Пользователя. Пользователь вправе зарегистрировать на Сайте не более одной Учетной записи.	</p>
{% endblock %}

{% block afterContentBlock %}
{% endblock %}