= yaml =
pageTitle: Диагностика
siteName: Живая система
bodyMods: ''
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'site-width'
asideLeft: false
asideRight: false
lightHeader: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{#% set menuTop = menuTop2 %#}
{% extends 'app.html' %}
{% set contentSiteWidthClass = false %}

{% block beforeContentBlock %}
{% endblock %}

{% block main %}
	<div block="b-info" mods="type-2" class="mb">
		<div elem="content" class="site-width">
			<div elem="text">
				<div elem="pic" mods="1">{{ _icon('info-pic1', { tag: 'span' }) }}</div>
				<div elem="text-in">
					{% include 'b-crumbs.html' %}
					<p>Медицинская диагностика — процесс установления диагноза, то есть заключения о сущности болезни и состоянии пациента, выраженное в принятой медицинской терминологии. Этим же термином называется и раздел клинической медицины, изучающий содержание, методы и последовательные ступени процесса распознавания болезней или особых физиологических состояний.</p>
					{% include 'b-checklist.html' %}
				</div>
			</div>
			<div elem="container">
				<div elem="pic" mods="2">{{ _icon('stethoscope', { tag: 'span' }) }}</div>
				<a elem="link" href="#" class="btn btn--1">Узнать больше</a>
			</div>
		</div>	
	</div><!-- /b-info -->
	{% set cFeedbackClass = 'site-width' %}
	{% include 'c-feedback.html' %}
	{% include 'c-price-list.html' %}

	<div block="b-doctors" mods="type-2">
	    <div elem="inner">
	        <div elem="section" class="site-width">
	            <div elem="head">
	                <div elem="sub-title" class="block-title">{{ _icon('info-pic1', { tag: 'span' }) }}<span>вас будут лечить<span></div>
	                <div elem="title">Доктора</div>
	            </div>
	            <div elem="items" class="owl-carousel js-doctors-slider">

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Грегори Хаус</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
	                            <a elem="name" href="#">Березнев Антон Васильевич</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
	                            <a elem="name" href="#">Березнев Антон Васильевич</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>
	                
	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img3.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img4.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>

	                <div elem="item">
	                    <div elem="info">
	                        <div elem="top">
	                            <a elem="img" href="#"><img src="img/doc-img2.jpg" alt=""></a>
	                            <a elem="name" href="#">Микоян Лоретта Грайровна</a>
	                        </div>
	                        <span elem="text">Глубоко заблуждаются те, кто думают, что йога – это легко. Несмотря на неплохую физическую подготовку, справляться с предлагаемыми нагрузками было очень непросто.</span>
	                    </div>
	                </div>
	                
	            </div>
	        </div>
	    </div>
	</div><!-- b-doctors -->

	{% include 'b-c-block.html' %}

	<div block="b-sertificates" mods="type-2">
	    <div elem="inner" style="background: url('img/license-bg2.jpg') 50% 0 no-repeat;">
	        <div elem="section" class="site-width">
	            <div elem="head">
	                <div elem="title">Сертификаты и лицензии</div>
	            </div>
	            <div elem="items" class="owl-carousel js-sertificates-slider">

	            {% for item in bSertificates %}
	                <div elem="item">
	                    <a href="#"><img src="img/{{item.img}}" alt=""></a>
	                </div>
	            {% endfor %}

	            </div>
	        </div>
	    </div>
	</div><!-- b-sertificates -->

	{% include 'b-our-news.html' %}
{% endblock %}

{% block afterContentBlock %}
{% endblock %}