<div block="b-videos">
	<div elem="container">
		<div elem="item" mods="big">
			<iframe src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen=""></iframe>
		</div>
		<div elem="item">
			<iframe src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen=""></iframe>
		</div>
		<div elem="item">
			<iframe src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen=""></iframe>
		</div>
	</div>
	<div elem="container">
		<div elem="item" mods="big">
			<iframe src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen=""></iframe>
		</div>
		<div elem="item">
			<iframe src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen=""></iframe>
		</div>
		<div elem="item">
			<iframe src="https://www.youtube.com/embed/C_T969xMYj8" frameborder="0" allowfullscreen=""></iframe>
		</div>
	</div>
</div><!-- /b-videos -->