.b-videos
	margin-bottom 30px
	margin-top 50px
	display flex
	justify-content space-between
	&__container
		width 48.667%
		display flex
		flex-wrap wrap
		justify-content space-between
	&__item
		width 47.262%	
		height 154px
		margin-bottom 32px
		iframe 
			width 100%
			height 100%
		&--big
			width 100%
			height 327px
			
	@media (max-width 768px) 		
		display block
		&__container
			width auto
			
	@media (max-width 480px) 		
		&__container
			display block
		&__item 
			width auto
			height 327px	
		