.c-registration
    margin-bottom 37px
    &__title
        text-align left
        color $colorAccent
        padding-top 0
        padding-bottom 0
        margin-bottom 35px
        
    .b-form 
        display flex
            
        &__user-photo   
            flex 0 0 176px
            margin-right 4.7%
            

        &__image     
            height 186px
            border 1px dashed #c2c1c7
            border-radius 20px
            margin-bottom 30px
            display flex
            justify-content center
            align-items center
            .svg-icon
                width 110px
                height 110px    
                border 1px dashed #235399
                fill #bccdeb
                border-radius 200px
                padding 15px
                svg 
                    width 100%
                    height 100%     
    
                    
        .jq-file                
            text-align center
            border 0
            &:hover
                .jq-file__name                    
                    span 
                        border-color transparent
            &__name
                margin 0
                padding 0
                height auto
                line-height 24px
                font-size 14px              
                color $colorAccent
                span 
                    border-bottom 1px dashed $colorAccent
            &__browse
                display none
            input 
                left 0
                top 0
                right 0
                bottom 0
                height 100%
                width 100%
                font-size 0 
                
        &__items
            flex 1
            display flex
            flex-direction row
            flex-wrap wrap
            justify-content space-between
            align-items flex-start
            
        &__items-col
            width 47.127%
            
        &__item
            position relative
            margin-bottom 30px
            .checkbox 
                margin-right 10px
            .i-day
                width 84px    
            .i-month, 
            .i-year 
                width 130px
            &--birthday
                display flex
                justify-content space-between
            &--agree    
                display flex
                align-items center
                margin 20px 0 24px
                min-height 48px
            
            .dtoggle-display    
                position absolute
                right 18px
                top 50%
                margin-top -13px
                width 27px
                height 22px
                cursor pointer
                svg 
                    fill #57565a
                    .line.hide 
                        display none
                        
        
        &__button 
            button
                width 100%
                max-width 228px
                
    @media (max-width 1024px) 
        .b-form
            &__user-photo
                margin-right 2%
            &__items-col    
                width 48.7%
                
    @media (max-width 940px) 
        .b-form
            display block
            
            &__user-photo
                margin 0 auto 40px
                max-width 176px
            &__button 
                button
                    max-width 100%
                    
    @media (max-width 760px) 
        .b-form
            &__user-photo
                margin-bottom 30px
            &__image
                margin-bottom 20px
            &__items
                display block
            &__items-col    
                width auto
            &__item     
                margin-bottom 20px
                .i-day
                    width 20%
                .i-month,
                .i-year
                    width 37%
                    
    @media (max-width 480px) 
        .b-form
            &__item
                &--birthday
                    display block
                    margin-bottom 0
                .i-day,
                .i-month,
                .i-year
                    width 100%
                    display block
                    margin-bottom 20px
        
