<div block="c-registration">
	<div elem="title" class="block-title">Заполните <br> регистрационный лист</div>
	<form block="b-form">
		<div elem="user-photo">
			<div elem="image">
				{{ _icon('user', { tag: 'span' }) }}
			</div>
			<input type="file" placeholder="Добавить свою фотографию">
		</div>
		<div elem="items">
			<div elem="items-col">
				<div elem="item">
					<input type="text" placeholder="Фамилия *" required>
				</div>
				<div elem="item">
					<input type="text" placeholder="Имя *" required>
				</div>
				<div elem="item">
					<input type="text" placeholder="Отчество *" required>
				</div>
				<div elem="item">
					<input type="text" placeholder="Ваш e-mail *" required>
				</div>
				<div elem="item">
					<input type="tel" placeholder="Номер телефона *" required>
				</div>
			</div>
			<div elem="items-col">
				<div elem="item" mods="birthday">
					<select name="" class="i-day">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
					<select name="" class="i-month">
						<option>Сентябрь</option>
						<option>Октябрь</option>
						<option>Ноябрь</option>
						<option>Декабрь</option>
					</select>
					<select name="" class="i-year">
						<option>1991</option>
						<option>1992</option>
						<option>1993</option>
						<option>1994</option>
					</select>
				</div>
				<div elem="item">
					<input type="password" placeholder="Пароль *" required>
					<span class="dtoggle-display">
						<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.05 48.5">
							<path d="M11.28,41.39a1,1,0,1,0,1.25-1.56,27.37,27.37,0,0,1-2.31-2.06l-7.4-7.4,7.63-7.63A27,27,0,0,1,38.3,16.2a1,1,0,1,0,.64-1.9A29,29,0,0,0,9,21.32l-9,9,8.81,8.81A29.52,29.52,0,0,0,11.28,41.39Z" transform="translate(0 -5.27)"/>
							<path d="M50.24,21.33a29.37,29.37,0,0,0-4.39-3.62,1,1,0,0,0-1.12,1.66,27.34,27.34,0,0,1,4.09,3.37l7.4,7.4-7.63,7.63a27.26,27.26,0,0,1-28.35,6.36A1,1,0,0,0,19.56,46a29,29,0,0,0,9.78,1.69A29.26,29.26,0,0,0,50,39.18l9-9Z" transform="translate(0 -5.27)"/>
							<path d="M30.54,41.77A11.47,11.47,0,0,1,24.47,40a1,1,0,1,0-1.06,1.7,13.5,13.5,0,0,0,18.35-19,1,1,0,0,0-1.66,1.11,11.5,11.5,0,0,1-9.56,17.89Z" transform="translate(0 -5.27)"/>
							<path d="M30.54,18.77a11.48,11.48,0,0,1,5.86,1.6,1,1,0,1,0,1-1.72,13.5,13.5,0,0,0-19,17.56,1,1,0,1,0,1.8-.88A11.39,11.39,0,0,1,19,30.27,11.51,11.51,0,0,1,30.54,18.77Z" transform="translate(0 -5.27)"/>
							<path class="line" d="M54.62,5.57a1,1,0,0,0-1.41,0L6.71,52.07a1,1,0,1,0,1.41,1.41L54.62,7A1,1,0,0,0,54.62,5.57Z" transform="translate(0 -5.27)"/>
						</svg>
					</span>
				</div>
				<div elem="item">
					<input type="password" placeholder="Повторите ввод пароля *" required>
					<span class="dtoggle-display">
						<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.05 48.5">
							<path d="M11.28,41.39a1,1,0,1,0,1.25-1.56,27.37,27.37,0,0,1-2.31-2.06l-7.4-7.4,7.63-7.63A27,27,0,0,1,38.3,16.2a1,1,0,1,0,.64-1.9A29,29,0,0,0,9,21.32l-9,9,8.81,8.81A29.52,29.52,0,0,0,11.28,41.39Z" transform="translate(0 -5.27)"/>
							<path d="M50.24,21.33a29.37,29.37,0,0,0-4.39-3.62,1,1,0,0,0-1.12,1.66,27.34,27.34,0,0,1,4.09,3.37l7.4,7.4-7.63,7.63a27.26,27.26,0,0,1-28.35,6.36A1,1,0,0,0,19.56,46a29,29,0,0,0,9.78,1.69A29.26,29.26,0,0,0,50,39.18l9-9Z" transform="translate(0 -5.27)"/>
							<path d="M30.54,41.77A11.47,11.47,0,0,1,24.47,40a1,1,0,1,0-1.06,1.7,13.5,13.5,0,0,0,18.35-19,1,1,0,0,0-1.66,1.11,11.5,11.5,0,0,1-9.56,17.89Z" transform="translate(0 -5.27)"/>
							<path d="M30.54,18.77a11.48,11.48,0,0,1,5.86,1.6,1,1,0,1,0,1-1.72,13.5,13.5,0,0,0-19,17.56,1,1,0,1,0,1.8-.88A11.39,11.39,0,0,1,19,30.27,11.51,11.51,0,0,1,30.54,18.77Z" transform="translate(0 -5.27)"/>
							<path class="line" d="M54.62,5.57a1,1,0,0,0-1.41,0L6.71,52.07a1,1,0,1,0,1.41,1.41L54.62,7A1,1,0,0,0,54.62,5.57Z" transform="translate(0 -5.27)"/>
						</svg>
					</span>				
				</div>
				<div elem="item" mods="agree">
					<div elem="form-item" mods="checkbox">
						<span class="checkbox checkbox--radio">
							<input type="checkbox" checked required>
							<span></span>
						</span>
					</div>
					Разрешить обработку персональных данных
				</div>
				<div elem="button">
					<button class="btn btn--1">Зарегистрироваться</button>
				</div>
			</div>
		</div>
	</form>
</div><!-- /c-registration -->