html,
body
  margin 0
  padding 0

html
  min-height 100%
  min-height 100vh

.app
  display flex
  flex-direction column
  height 100%
  height 100vh
  &__overlay
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    opacity 0
    visibility hidden        
    transition all .3s ease
    background rgba(#000, 0.70)
    z-index 9
    &.opened
      opacity 1
      visibility visible  
  &__wrapper
    display flex
    flex-direction column
    height 100%
    height 100vh

  &__content
    display flex
    flex 1 0 auto
    &.site-width
      padding-top 55px 
      padding-bottom 100px

  &__main
    flex 1
    
  &__aside
        
    &--left
      order -1
      flex 0 0 300px
            
    &--right
      flex 0 0 300px

.op-bl
  transition all 1.5s ease-out
  // transform translateY(100px) 
  opacity 0
  .scale
    transition all 1.5s ease
    transform scale(0.8) translateY(100px)
  &.show
    opacity 1
    .scale
      transform translateY(0) translateY(0)